[2015-10-21 13:45] kris-lab opened #2 "Add config, logger"

[2015-10-21 13:55] kris-lab opened #3 "HTTP "subscribe" endpoint for "streaming" plugin"
- HTTP server towards browser
- WebSocket client towards Janus
- Dummy Authorization towards CM (will be RPC call later)

[2015-10-21 13:55] kris-lab opened #4 "Overview"
Interact with browsers:
- WebSocket server (proxying to janus)

Interact with CM:
- HTTP client / RPC calls to CM
- HTTP server, receiving requests from CM (with authorization)
- Execute `bin/cm` binary

Interact with Janus:
- WebSocket client (admin channel)

Diagram: https://www.lucidchart.com/documents/edit/10adf617-c9e7-446b-acb5-9b2d0ee55b4e?shared=true

[2015-10-22 15:02] kris-lab commented on #4
Again update for this:

What will work for us (tested manually) is:
- streaming (video/audio) plugin: webrtc-up, webrtc-hangup events
- audio bridge plugin: webrtc-up, webrtc-hangup + media events

[2015-10-22 16:03] fvovan commented on #4
So if we utilize only direct WS  connection between CM and Janus, will we still need WS server on cm-janus?

[2015-10-23 10:17] tomaszdurka opened #5 "Implement dummy Http server with required endpoints"
HttpServer
- /audio/publish (streamName)
- /video/publish (streamName)
- /audio/subscribe (streamName)
- /video/subscribe (streamName)

[2015-10-27 12:06] vogdb opened #6 "implement Janus proxy"

[2015-10-27 18:07] tomaszdurka opened #7 "Define HTTP server"
Authentication based on defined secret.

Actions:
- `/stopStream` (using clientKey/special identifier)
- `/status` (existing streamchannels and their streams) - is it really needed?

[2015-10-27 18:20] tomaszdurka opened #8 "Define message interpreter"
In particular, for each handle involving a PeerConnection Janus provides notifications about its current state. To do so, the following events may be received as well:

- **webrtcup**: ICE and DTLS succeeded, and so Janus correctly established a PeerConnection with the user/application;
- **media**: whether Janus is receiving (receiving: true/false) audio/video (type: "audio/video") on this PeerCo

[2015-10-28 10:02] tomaszdurka opened #9 "Implement Connection object"
Holds:
- browserConnection
- janusConnection
- sessionId (token?)
- clientKey
- streamName (streamId or roomName) - set later from message handlers (watch event, etc.)

Message handlers:
https://github.com/cargomedia/cm-janus/issues/8

[2015-10-29 11:39] tomaszdurka opened #10 "Introduce RPC client for cm-janus-api"
Methods:
- publish (notify cm-app when publish is created)
- unpublish
- subscribe
- unsubscribe

[2015-10-29 11:43] tomaszdurka commented on #3
Invalid.

[2015-10-29 11:43] #3 closed

[2015-10-29 11:43] tomaszdurka commented on #2
Done in #7

[2015-10-29 11:43] #2 closed

[2015-10-29 15:07] vogdb opened #11 "Detach of Streaming plugin during the actual streaming kills the proxy"
How to model: Open `streamingtest.html` -> Watch any stream -> Click **Stop** button (see the picture).

![screen shot 2015-10-29 at 18 08 16](https://cloud.githubusercontent.com/assets/372386/10822352/eb84e0c8-7e67-11e5-9659-535dfd14e62d.png)

@fvovan @tomaszdurka FYI

[2015-10-29 15:17] fvovan commented on #11
Forgot to report about it today, but reloading the page kills it too

[2015-10-29 15:23] fvovan commented on #11
It's express handler. Will look into it

[2015-10-29 15:57] tomaszdurka commented on #11
So, it's not really connected with `detach`?

After clicking `stop` I see this in the log:
[code]

[2015-10-29 16:03] fvovan commented on #11
[code]

[2015-10-30 21:20] tomaszdurka opened #12 "Rework message interpreter logic (take 2)"
I will try to rework abstraction over janus events to be more flexible still readible.

[2015-10-31 06:19] fvovan opened #13 "Make config system a la pulsar-api"

[2015-11-03 09:53] tomaszdurka opened #14 "Close/not proxy janus messages once browser connection is closed"
Currently when BrowserConnection closes it sometimes connected with break of client and in return message is streamed from Janus to proxy. Proxy though still wants to send message to BrowserConnection.

Log:
[code]

[2015-11-03 09:58] tomaszdurka commented on #14
@vogdb can you look into this?

[2015-11-03 09:59] vogdb commented on #14
:panda_face:

[2015-11-03 13:03] vogdb opened #15 "Implement `status` and `stopStream` of http-server"

[2015-11-03 13:07] vogdb opened #16 "Rename ProxyConnection."
Currently this name is kind of misleading. Please offer your variants.
- `ProxyBridge`
- `ProxyMessageChannel`

[2015-11-04 17:11] tomaszdurka opened #17 "Add token/secret to HttpServer handlers and CMApiClient requests"
- Consider using the same `apiKey` for `HttpServer` and `CMApiClient`
- Use header for `HttpServer` `apiKey` authentication
- Send `apiKey` as first param in all `CMApiClient` `requests`
  - https://github.com/tomaszdurka/CM/blob/issue-1965/library/CM/Janus/RpcEndpoints.php
Example
[code]

[2015-11-04 17:17] vogdb opened #18 "Feedback of unexpected/error cases."
For example.

ProxyConnection:
[code]

BrowserConnection:
[code]

[2015-11-04 17:19] vogdb commented on #17
@fvovan I think it suits you very well. Shall you take it?

[2015-11-04 19:19] vogdb opened #19 "Cleaning"
- Optimise the excessive usage of `message.janus`. Store it in a variable where is needed.
- Replace all accesses to janus messages from `message.transaction` to `message['transaction']`.

@fvovan This one is a good starting point to keep up yourself with the changes.

[2015-11-05 18:29] vogdb opened #20 "Create a standalone janus client for super-session connection."
Comes from cargomedia/janus-gateway-rtpbroadcast#14

[2015-11-06 09:27] fvovan opened #21 "Rename apiKey to serverKey"
Unified with CM part

[2015-11-06 12:55] tomaszdurka opened #22 "Add readme"

[2015-11-06 14:40] fvovan opened #23 "Add 'isPublish' attribute to Stream."
We need to know what actually stream represents (publish or subscribe). It is required for syncing, where we delete inconsistent data on CM part (non deleted for some reasons publisher streams, absent publishers streams for existing subscribers e t.c.)

[2015-11-09 10:03] njam commented on #22
This is needed so we can create the puppet module to deploy the software: https://github.com/cargomedia/puppet-packages/issues/969
Please document how to run and configure this program.

[2015-11-10 09:57] vogdb opened #24 "AudioBridge plugin"

[2015-11-10 14:02] fvovan opened #25 "Adjust config and split api keys."
Move proxy details to config and create split API keys for http-server  and cm-api-client

[2015-11-10 14:10] tomaszdurka opened #26 "Add travis build"
Make simple build script.
@vogdb Maybe just add test that it listens on certain ports?

[2015-11-10 14:11] tomaszdurka commented on #26
Also please add build badge :)
fyi @njam

[2015-11-11 12:24] tomaszdurka opened #27 "Implement Job Manager"
- based on filesystem
- uses specific folder for all the jobs information
- job information is in json format
[code]
Note: all the files provided in data are ready, job can be executed straight away

### Workflow
- should read all json-files and start processing them
- should start listening for all new json-files and process them
- process: identify and execute specific job
- should remove json-f

[2015-11-11 12:35] tomaszdurka opened #28 "Implement rtpbroadcast recording job handler"
Receives data:
[code]

Steps:
- merge `audio`, `video` => `mp4 file` (basic gstreamer command)
- run cm command to archive `mp4 file` for specifci `streamChannelId`
- optional cleanup

[2015-11-11 12:46] tomaszdurka opened #29 "Implement rtpbroadcast thumbnail job handler"
Receives data:
[code]

Steps:
- create thumbnail out of 10 seconds `video` => `jpg file`
- run `cm media-streams import-video-thumbnail {streamChannelId} {jpg file}`
- optional cleanup

[2015-11-11 12:47] tomaszdurka opened #30 "Implement audioroom recording job handler"
Receives data:
[code]

Steps:
- converts `audio` => `mp3 file` (basic gstreamer command)
- run `cm media-streams import-archive {streamChannelId} {mp3 file}`
- optional cleanup

[2015-11-11 12:51] njam commented on #27
Note on inotify: we should probably use `IN_CLOSE_WRITE` (and not `IN_CREATE`) to get notified once the file is fully written.

[2015-11-11 16:21] vogdb commented on #27
@tomaszdurka @njam Have you seen this https://github.com/c4milo/node-inotify/issues/45#issuecomment-37749085 ?

[2015-11-11 16:47] tomaszdurka opened #31 "Consider using service manager concept for storing shared instances"

[2015-11-11 17:31] njam commented on #27
That's fine, this program will only need to run on Linux (Debian)!

[2015-11-11 17:31] njam commented on #27
For running specs on OSX, maybe we can add a Vagrantfile?

[2015-11-11 17:32] vogdb commented on #27
yes, I need some help here on that. Waiting for @tomaszdurka

[2015-11-11 17:50] tomaszdurka opened #32 "Add vagrant environment"

[2015-11-12 08:10] tomaszdurka opened #33 "Update apt deps for Vagrant"

[2015-11-12 10:59] tomaszdurka opened #34 "Intorduce testing frameworks"

[2015-11-12 14:21] tomaszdurka opened #35 "Add gpp to Vagrant"

[2015-11-12 14:22] tomaszdurka commented on #35
Needed for inotify

[2015-11-12 14:38] tomaszdurka opened #36 "Fix automated deployments"

[2015-11-12 14:45] tomaszdurka opened #37 "Version 0.0.2"

[2015-11-12 15:44] fvovan opened #38 "make Logger to be a class"
Possibly try to wrap existing code with new created class and delegate all used methods to minilog.

[2015-11-12 16:06] vogdb opened #39 "0.0.2 does not work"
On Debian

[2015-11-13 14:41] tomaszdurka opened #40 "Rework authentication"

[2015-11-16 03:42] tomaszdurka opened #41 "CmApiClient doesn't send correct requests"

[2015-11-16 13:14] tomaszdurka opened #42 "Make Logger more oop"
Allow to create instances of and mock Logger class.

Service registry:
[code]

Not sure if it's possible with minilog which signature is quite strange (unless you know different way than we use).

[2015-11-16 13:30] vogdb commented on #39
upgrade node version at least to 0.12

[2015-11-16 13:30] #39 closed

[2015-11-16 15:19] vogdb opened #43 "Connection unit tests"

[2015-11-16 16:33] tomaszdurka opened #44 "Add CMApiClient tests"
- test that requests are created properly
- test that client interprets properly responses - certain types (successes, errors on app and http level)

[2015-11-17 11:12] vogdb opened #45 "CmApiClient unit tests"

[2015-11-17 13:29] ppp0 opened #46 "Make cm-janus runnable in VM"

[2015-11-17 13:34] vogdb commented on #44
it's already done or at least started in #45
@fvovan @tomaszdurka

[2015-11-17 13:34] vogdb commented on #44
:P

[2015-11-17 13:39] fvovan commented on #44
:(

[2015-11-17 13:44] vogdb commented on #28
@tomaszdurka @fvovan
How shall we test here? For example we take three sample files: the expected mp4 file and the source `rtp` files. We encode the source files and compare the result with the expected mp4?
What happen if the used `gstreamer` command changes/optimizes its algorithm and the resulted file is is not exactly as the expected. Shall we seek for a way to test that prevents such situatio

[2015-11-17 14:16] kris-lab commented on #28
Quick note how the workflow could look like https://github.com/cargomedia/janus-gateway-rtpbroadcast/pull/29#issuecomment-156838287

[2015-11-17 14:28] kris-lab commented on #30
This conversion is not needed IMO. `Janus` dumps `audioroom` files into `WAV` format.

@tomaszdurka wdyt? `wav` should be fine?

[2015-11-17 16:40] ppp0 opened #47 "Use node v0.12 on debian / vm"

[2015-11-17 16:46] ppp0 opened #48 "Allow to use arbitrary paths for log"
After having tried to run as a non-root user I found out that the log location needs be in a place where the app user has rights to write to

Ideally, this is configurable. A common place where log files are stored in our setup is `/var/log/<appname>`

As-of-now, this is only possible by prefixing the path with as many `../` as the depth of where the app is installed, e.g. `logPath: '../../../../.

[2015-11-17 17:02] tomaszdurka commented on #48
Agree.

[2015-11-18 09:37] vogdb opened #49 "Cleanup tests"
- Use `assert` in all tests to be consistent FYI @tomaszdurka.
- Rename jobManager => job-manager. Delete all obsolete `require` in it.

[2015-11-18 10:56] fvovan opened #50 "Update node version in Travis config"
To vagrant's 0.12.7

[2015-11-19 09:33] tomaszdurka opened #51 "Add tests for http-server"

[2015-11-19 09:35] tomaszdurka opened #52 "Add tests for proxy-connection"

[2015-11-19 09:36] tomaszdurka opened #53 "Add tests for streams"

[2015-11-19 09:36] tomaszdurka opened #54 "Add simple unit test for transactions"

[2015-11-19 09:36] tomaszdurka opened #55 "Add tests for streaming plugin"

[2015-11-19 09:37] tomaszdurka opened #56 "Add simple unit test for stream"

[2015-11-19 09:37] tomaszdurka opened #57 "Add simple unit test for service-locator"

[2015-11-19 09:51] tomaszdurka commented on #28
@vogdb I don't think we should test all the services which are used for this tasks. Only very basic things. We should simply mock cm cli and gstreamer comamnds and only expect certain basic (simple file) results. This workflow (what gstreamer command to run) is probably not 100% sure yet. But with job and test code we can simply adjust it.

[2015-11-19 10:39] vogdb opened #58 "Move pluginFactory out of ProxyConnection"
Right after #52 is completed

[2015-11-19 10:39] vogdb commented on #58
@tomaszdurka FYI

[2015-11-19 15:59] fvovan opened #59 "Inject ServiceLocator to application classes"

[2015-11-19 17:14] ppp0 opened #60 "Upgrade tag"

[2015-11-19 18:30] vogdb opened #61 "Make ProxyConnection._generateTransactionId static"

[2015-11-20 13:35] tomaszdurka opened #62 "Add cm-binary path to config"

[2015-11-20 18:34] vogdb opened #63 "Global error handler in tests"
Currently if an error is thrown inside a promise without `catch` block, we loose it and tests exit by timeout.

[2015-11-20 18:56] kris-lab commented on #29
Gstreamer pipeline to dump single frame from the media file
[code]

[2015-11-22 19:01] tomaszdurka commented on #30
Fine with me.

[2015-11-22 20:18] tomaszdurka opened #64 "Add job-manager runner"

[2015-11-22 20:35] tomaszdurka commented on #29
Depends on #64.

[2015-11-22 20:35] tomaszdurka commented on #30
Depends on #64.

[2015-11-22 22:34] tomaszdurka opened #65 "Introduce CmApplication"

[2015-11-23 00:02] tomaszdurka commented on #29
Depends on #65

[2015-11-23 11:00] vogdb opened #66 "Handle plugin errors in transactions"

[2015-11-23 11:08] vogdb opened #67 "Return back JobManager tests"

[2015-11-23 16:58] fvovan commented on #28
do we have gstreamer pipeline for this merging?

[2015-11-23 23:17] tomaszdurka opened #68 "Add code-coverage"

[2015-11-24 09:48] vogdb opened #69 "Test for ProxyConnection.close"

[2015-11-24 10:08] tomaszdurka opened #70 "Add code-coverage badge"

[2015-11-24 15:36] tomaszdurka opened #73 "Make sure we write correctly to file log"
While testing puppet package I've noticed that:

Console logger prints:
[code]

[2015-11-24 18:45] vogdb opened #74 "Change Video plugin carrier"

[2015-11-25 10:26] tomaszdurka opened #75 "Allow only one plugin per connection"

[2015-11-25 10:28] tomaszdurka opened #76 "Remove authentication for each message"
Instead of authenticating each message we will store token (json encoded data in our case) and send it only to publish/subscribe.

[2015-11-25 11:34] tomaszdurka commented on #75
Closing as discussed to be not neccessary.

[2015-11-25 11:34] #75 closed

[2015-11-25 11:51] tomaszdurka opened #77 "Expect additional data-bag"
Expect additional data-bag for plugin events like:
- Video::onCreate
- Audio::onCreate (not there yet)

This should be sent by client using `message['data']`

[2015-11-25 11:52] tomaszdurka opened #78 "Introduce logging to sentry"
Idea is to allow logging messages to Sentry (using specific tags).

[2015-11-25 13:50] fvovan commented on #73
unfortunately It's true. looks like bug in `minilog.Stringifier()`. looking into it

[2015-11-26 10:25] vogdb opened #80 "release 0.0.6"

[2015-11-26 14:40] vogdb commented on #16
Closing in favor of #79

[2015-11-26 14:40] #16 closed

[2015-11-26 16:37] njam opened #81 "Error handling for websocket connection to janus"
@tomaszdurka @vogdb @fvovan

Cannot resolve host:
[code]

Cannot connect:
[code]

Are we handling connection errors correctly to CM?

[2015-11-26 16:44] njam opened #82 "streaming: close of undefined"
@tomaszdurka @vogdb @fvovan

[code]

[2015-11-26 16:46] fvovan commented on #81
hmm in case you mean connections made with `cm-api-client` we handle them but it should say 'cm-api error'.

[2015-11-26 16:53] njam opened #83 ""Undefined" sent to client"
@tomaszdurka @vogdb @fvovan

[code]

[2015-11-27 09:39] fvovan opened #84 "Jentle shutdown of http-serve"

[2015-11-27 13:47] fvovan opened #86 "implement graceful JobManager.stop"

[2015-11-28 18:26] njam commented on #83
This also seems to happen if the CM app return with a status code other than 200.

[2015-11-28 19:25] njam opened #87 "Should act on closed WS connection of client"
When experimenting with cm-janus I was connecting as a client with a WebSocket connection.
When I closed that WebSocket connection nothing happened in cm-janus.

@tomaszdurka we need to close the upstream WS connection in that case, so that janus knows that this client is gone?

[2015-11-28 19:25] njam commented on #87
cc @kris-lab

[2015-11-29 10:15] vogdb commented on #87
It was already fixed in https://github.com/vogdb/cm-janus/commit/f6367a983d9e064ed77f523dad8907b3857a9ada but this PR wasn't merged. Now the fix is presented in #81 issue. Hope it will be merged :)

[2015-11-30 09:53] vogdb opened #88 "ProxyConnection StropStream from ws to http"

[2015-11-30 10:40] vogdb commented on #88
@tomaszdurka In `PluginStreaming.prototype.onWebrtcup` we have
[code]
that requires `stream.proxyConnection`. I plan to remove it and just pass the error to the upper level.

[2015-11-30 11:17] tomaszdurka commented on #88
@vogdb yes I agree to remove `proxyConnection` but don't do in this pr. Let's not make big prs they hard to review. I will drop #79 pr in favor of smaller ones which part of is this one.
Yes reject and this should be handled on top.

[2015-11-30 12:08] tomaszdurka opened #89 "Promisify cm-application runCommand"

[2015-11-30 12:28] vogdb commented on #88
ok

[2015-11-30 12:59] vogdb opened #90 "Janus http client"

[2015-12-01 07:36] vogdb commented on #87
Fixed in #81

[2015-12-01 07:36] #87 closed

[2015-12-01 08:42] vogdb commented on #83
the bug is found, writing tests for it

[2015-12-01 12:07] tomaszdurka opened #91 "Rework requestPromise in CmApiClient"

[2015-12-02 15:10] tomaszdurka opened #92 "Fix chanelData read in streaming pluign"
Should use `message['body']['channel_data']` instead of `message['channelData']`.

[2015-12-02 16:20] kris-lab opened #93 "Fix: properly cleanup websocket connection between cm-janus and janus"
My test shows that if websocket connection is closed between any `client` (studio-agent) and the `cm-janus` then the connection between `cm-janus` and `janus` is still alive?

could you verify?

[2015-12-02 17:05] vogdb commented on #93
Yes, it is true. The fix was merged recently and the new version is not yet released.

[2015-12-02 17:06] vogdb opened #94 "Release 0.0.7"

[2015-12-02 17:24] kris-lab commented on #93
ok, thx. I did some debugging anyway
[code]

Before connection to the cm-janus:
[code]

Connection open:
[code]

Connection closed:
[code]

From workflow you can see that `client/browse/studio` of `cm-janus` closes connection but `cm-janus` does not close in `janus`

[2015-12-02 17:29] vogdb commented on #94
It has been done already

[2015-12-02 17:29] #94 closed

[2015-12-02 17:30] vogdb commented on #93
@kris-lab did you try the version 0.0.7 ?

[2015-12-02 17:31] kris-lab commented on #93
yes, I have tried `0.0.7`

[2015-12-02 17:32] vogdb commented on #93
then it is the problem. It should be fixed there

[2015-12-02 17:43] kris-lab commented on #93
I have found fix to use `this.webSocket.terminate()` instead of `this.webSocket.close()` in https://github.com/cargomedia/cm-janus/blob/master/lib/connection.js#L37

It works as expected. wdyt?

[2015-12-03 07:31] tomaszdurka opened #95 "Use detach instead of message-stop for stopping stream"
Reason for that is that stopping stream won't send any event from Janus. Detach will send `detached` event though.

[2015-12-03 07:32] tomaszdurka commented on #95
Reason for that is that stopping stream won\'t send any event from Janus. Detach will send  event though.

[2015-12-03 11:04] tomaszdurka opened #96 "Datetime is passed in miliseconds in create/webrtcup event"
Should be seconds.

[2015-12-04 14:01] tomaszdurka opened #99 "Upgrade version"

[2015-12-08 14:58] zazabe opened #102 "Fail to destroy a session through cm-janus, then always fail to watch a stream"
`janus.destroy()` method send a `"janus": "destroy"` request through the web socket but there's no response from cm-janus:
<img width="686" alt="screen shot 2015-12-08 at 15 42 38" src="https://cloud.githubusercontent.com/assets/401598/11658333/58134b20-9dc2-11e5-82a8-94494a8c6b6c.png">

It works with a direct connection to janus:
![screen shot 2015-12-08 at 15 55 10](https://cloud.githubuserconte

[2015-12-08 15:04] zazabe commented on #102
Note that the only solution i found is is restart janus, no need to restart cm-janus or the studio-agent.

[2015-12-10 13:21] zazabe opened #103 "Fail to create audioStreamChannel"
tested on cm-janus 0.1.0:

[code]

Is there anything wrong with the client request?

[2015-12-10 13:26] zazabe commented on #103
@tomaszdurka @vogdb ?

[2015-12-10 13:27] vogdb commented on #103
I will take

[2015-12-10 13:27] vogdb commented on #103
Just need 20 minutes to finish one thing

[2015-12-10 13:47] tomaszdurka commented on #103
@vogdb I will investigate this with @zazabe
Possibly wrong params sent.

[2015-12-10 13:52] vogdb commented on #103
ohhh, common

[2015-12-10 14:36] tomaszdurka commented on #103
This is unrelated to cm-janus, but rather client which sends invalid data (sk).

[2015-12-10 15:19] #4 closed

[2015-12-10 15:19] #103 closed

[2015-12-10 15:19] tomaszdurka commented on #95
Done in #101

[2015-12-10 15:19] #95 closed

[2015-12-11 09:07] njam opened #104 "RPC Error logging"
When an RPC call to the CM application fails, the application responds with a JSON structure of this form:
[code]

Afaik cm-janus currently only displays the `msg`. Logging additionally the `type` would be handy.
@tomaszdurka @fvovan @vogdb wdyt?

[2015-12-11 09:07] njam commented on #104
cc @zazabe

[2015-12-11 12:14] vogdb commented on #104
Currently I'm trying to reproduce this on CM but I receive not a JSON body but a raw html. Does cm contain the necessary changes to return the JSON structure you have mentioned?
[code]

which is simply a stacktrace

[code]

[2015-12-11 12:19] njam commented on #104
Only certain exceptions are expected, catched and will return JSON:
[code]

How does cm-janus handle this?
What does it do if JSON is returned (status 200)?
What does it do if plain HTML error is returned (status not 200)?

[2015-12-11 13:33] vogdb commented on #104
The error is caught and send to janus client side. Only `msg` field is sent along with it.

The error is caught and send to janus client side. `error.message` is sent along with it. As I see now `error.message` is an html output like this:
[code]

How do you think can we extract the content of `<h1>` and `<h2>` as a type and a message for the Janus error that will be sent to client? Currently we s

[2015-12-11 13:42] tomaszdurka opened #105 "Do not remove plugin if it does not exist (timing issues)"

[2015-12-14 19:23] njam opened #106 "rpc_removeStream never called"
During testing we experienced that while the `publish()` and `subscribe()` endpoints are called it seems like `rpc_removeStream()` is not!

Could reproduce this when closing WebSocket connection to cm-janus.

@tomaszdurka can you look into this and/or reassign?

[2015-12-14 19:39] njam commented on #102
This seems to be fixed with thew newest rtpbroadcast plugin!

@zazabe please confirm

[2015-12-15 08:57] njam commented on #106
@tomaszdurka @vogdb can you look into this asap? At the moment we need to wait ~60seconds for "syncing" to remove the stream, which is very annoying.

[2015-12-15 08:58] vogdb commented on #106
ok, will look

[2015-12-15 09:05] vogdb commented on #106
Well, I don't see that we call it. It's definitely that `rpc_removeStream` is not called.

[2015-12-15 09:09] njam commented on #106
It should be called for both "publish" and "subscribe" streams, when they end.

[2015-12-15 18:20] fvovan opened #107 "Remove streams from cm on cm-janus shutdown"

[2015-12-15 18:24] fvovan commented on #107
@vogdb
Should they be removed only on emergency shutdown (like it is for JobManager cleanup) or SIGINT  should be intercepted too?

[2015-12-15 18:34] vogdb commented on #107
oh, oh. They should be removed on any close. Tomasz wrote a draft. I agree with it.
[code]

[2015-12-16 17:09] njam opened #108 "Zombie audio publishers in status?"
After some testing, where usually a `rpc_subscribe()` call would disallow subscribing, we ended up with lots of "zombie" audio publishers. Those were not connected anymore to cm-janus. Restarting janus and cm-janus removed them through syncing.

<img width="1153" alt="screen shot 2015-12-16 at 18 06 13" src="https://cloud.githubusercontent.com/assets/360800/11847891/db80eeb4-a41f-11e5-8222-2a450a5

[2015-12-16 17:53] njam commented on #108
Restarting only *cm-janus* fixes this issue, so seems cm-janus somehow keeps invalid state?

[2015-12-17 04:03] tomaszdurka commented on #108
Status is generated purely from cm-janus. We generate/store ids of streams only in cm-janus (no janus). Only moment when we remove stream is after plugin is removed (also happens after session is destroyed also happens after connection is closed).

I understand that for some reason stream is not removed from cm-janus. That means that plugin, session and connection are still there... (in the cm-jan

[2015-12-17 04:09] tomaszdurka commented on #108
For moment thought that https://github.com/cargomedia/cm/pull/2026 could be a reason that stream is not removed. Could occur if stream was to be removed before it is in cm. On the other hand it should be finally removed after status-based synchronization.

[2015-12-17 10:02] njam commented on #108
https://github.com/cargomedia/cm/pull/2026 was not the reason, I would have seen it in the logs.

Could you investigate this issue? With the bulldog machine you should be able to reproduce it. Let me know if you wanna pair on setting it up.

[2015-12-17 11:57] zazabe opened #109 "Failed to stop a video stream"
Not sure if it's an issue on janus or cm-janus, but there's definitely something wrong with the `rtpbroadcast` plugin.

cm-janus log when the client do a `"request": "stop"`:

[code]

We should not have the last janus error response to the browser i suppose...

[2015-12-17 12:05] tomaszdurka commented on #108
Changes to plugins:
- use `onCreate` event only in video
- use `onJoin` for both publish and subscribe in audioroom plugin
- distinguish pub/sub with `muted` property

[2015-12-17 12:37] tomaszdurka opened #110 "Support switch event for video plugin"

[2015-12-17 12:37] tomaszdurka opened #111 "Support changeroom for audioroom plugin"

[2015-12-17 13:38] vogdb commented on #108
@tomaszdurka

#### Short overview
As you can see the fields `audioSend`, `videoSend`, `audioRecv` are not presented in janus messages and used only for local media streams constraints.

#### Create room
-  request

[code]
- response

[code]

#### Join the created room
 - request

[code]

 - response

[code]

#### SDP handshake. Happens only after we joined the room.
 - request
[code]

 - response

[2015-12-17 14:38] vogdb commented on #110
I couldn't make this `switch` to work. I need the second stream to make the switch to. How can I establish the second stream?

[2015-12-17 16:23] kris-lab commented on #109
This `{"transaction":"jNTKBusJp4BP","code":490,"message":"Invalid plugin"}` looks like `cm-janus` bug? After `stop` we receive multiple `Janus` events like `hangup` and then `stopping` event.

Looks like the last event `stopping` is not recognized by `cm-janus` due to terminated media session? So basically `cm-janus` receives full `janus` message but proxy this as an error to the browser?

[2015-12-17 16:36] njam commented on #110
Idea: Run 2 *studio-agent*s in the bulldog VM. They need to connect to a different studio room each.
Needs to be set up manually. Please reach out to me or Chris to set it up together.

[2015-12-18 05:56] tomaszdurka commented on #109
Well. I am not sure if this is really a bug. Currently we manage sessions and plugins in cm-janus. Once we receive `detached` or `hangup` event from janus a plugin is removed and we do not expect any events concerning that plugin anymore. I say it's right.
Maybe we should not remove the plugin on `hangup` event though.

Another thing is how we handle those events. Probably when event concerning re

[2015-12-18 06:28] tomaszdurka commented on #110
@vogdb I understand that stream on janus-side will be done via janus. You only need to care about cm-app.

- when processes `switch` event
  - should remove old stream
  - should create new stream
  - should create transaction
  - on successful transaction response
    - should add new stream to stream and cm-app

[2015-12-18 09:39] njam commented on #110
Also I guess if the RPC call is *not* successful we should not forward this even to jans?

[2015-12-18 09:53] tomaszdurka commented on #110
We only make rpc calls after janus requests are already successful. This is as rpc call already create streamchannel/stream and we won't to do it only after successful janus operation. This was to avoid having `canPublish`/`canSubscribe` rpc endpoints.

[2015-12-18 09:54] vogdb commented on #110
@tomaszdurka the current logic is a bit different:

[code]

[2015-12-21 10:24] zazabe opened #112 "Error message should refer to a transaction"
The vendor janus client [only call `onmessage` when the `transaction` id is set](https://github.com/cargomedia/sk/blob/master/library/VR/client-vendor/after-body/04-janus/janus.js#L326), but cm-janus specific error have no reference to a transaction, for example:

[code]

2 solutions:
- cm-janus send a valid message, with the transaction id
- change the vendor client source code to call the `janus

[2015-12-21 10:32] zazabe commented on #112
solution 2 done on the client side in this commit: https://github.com/zazabe/sk/commit/a1c3877653fb58d30cb483c0463879de92c8e96f

@tomaszdurka @njam is it acceptable or do you want to strictly follow the janus way to report errors?

[2015-12-21 10:35] vogdb commented on #112
@zazabe actually it's a bug on cm-janus side that it does not have a transaction

[2015-12-21 10:38] njam commented on #112
I would also say that's a bug in cm-janus.

But triggering the default error callback in janus.js as a fallback is probably also reasonable - maybe open a PR on janus-gateway too?

[2015-12-21 10:41] tomaszdurka commented on #112
Not sure if this is a bug on janus-gateway. I don't think janus send errors as self-generated events (no transaction id), but only as responses to transactioned requests.
Agree it's bug in cm-janus. @vogdb let's discuss generating errors together.

[2015-12-21 12:29] vogdb commented on #112
Ok. The problem is that `webrtcup` event does not contain `transaction` field.

[code]

[2015-12-22 08:57] njam commented on #78
Let's do it later

[2015-12-22 08:57] #78 closed

[2015-12-22 08:57] njam commented on #109
@tomaszdurka please update with planned resolution

[2015-12-22 08:57] njam commented on #102
This seems to be fixed with thew newest rtpbroadcast plugin

[2015-12-22 08:57] #102 closed

[2015-12-22 12:22] tomaszdurka opened #113 "Introduce acl for video plugin"
Allow for all:
- create (detach if not able to publish)
- watch (detach if not able to subscribe)
- switch (detach if not able to subscribe)
- switch-source
- stop
- start
- pause

Deny for all:
- destroy
- list

[2015-12-22 12:25] tomaszdurka opened #114 "Introduce acl for audio plugin"
Allow for all:
- create
- join (detach if not able to subscribe)
- changeroom (detach if not able to subscribe)
- configure
- leave

Deny for all:
- exists
- resetdecoder
- listparticipants
- destroy
- list

[2015-12-23 13:55] tomaszdurka opened #115 "Subscribe expects channel_data (pass it to cm)"

[2015-12-24 11:24] fvovan commented on #115
related https://github.com/cargomedia/cm/pull/2029

[2015-12-28 18:05] vogdb commented on #113
will be done in #114

[2015-12-28 18:05] #113 closed

[2015-12-29 08:26] njam commented on #109
@tomaszdurka what is the status here?

[2015-12-29 09:58] tomaszdurka commented on #115
Done in #108.

[2015-12-30 09:52] tomaszdurka commented on #109
We've decided to:
- detach plugin on both `detached` and `hangup` from-janus-events.
- proxy nonexistent plugin messages

[2015-12-30 09:52] #109 closed

[2015-12-30 09:53] tomaszdurka opened #116 "Do not trigger errors on nonexistent plugins/sessions"

[2015-12-31 02:52] tomaszdurka opened #117 "Adjust thumbnail job-handler"

[2015-12-31 03:00] tomaszdurka commented on #117
Depends on https://github.com/cargomedia/puppet-packages/pull/1025.

[2015-12-31 11:50] fvovan opened #118 "release 0.2.0"

[2015-12-31 14:05] njam opened #119 "Duplicate streams when restarting cm-janus"
Scenario:
1. Have a mountpoint and a video stream with janus and cm-janus
2. Restart cm-janus
3. Try to re-establish this mountpoint and stream

Problem: When trying to recreate the mountpoint I get "A stream with the provided ID already exists"
- I understand this error comes from janus?
- Does that mean that janus doesn't remove all sessions when cm-janus disconnects from the WebSocket connectio

[2015-12-31 14:15] tomaszdurka commented on #119
Well if you restart cm-janus you drop all the persistence from it. Meaning it's not possible that this error comes from cm-janus, meaning it comes from janus. I guess stopping node process will stop all the connections attached to it so imo janus should be cleaned.

I think your questions/assumptions are right. Should this issue be added into janus/janus-plugin then?

[2015-12-31 14:42] njam commented on #119
Closing in favor of https://github.com/cargomedia/janus-gateway-rtpbroadcast/issues/47

[2015-12-31 14:42] #119 closed

[2015-12-31 15:13] njam opened #120 "Error: Cannot find module 'rimraf'"
New cm-janus version fails with this on production:

[code]

@tomaszdurka @vogdb

[2015-12-31 16:10] njam opened #121 "Error: config.jobManager.tempFilesPath is required"
@fvovan @tomaszdurka @vogdb
[code]

[2015-12-31 18:08] tomaszdurka commented on #121
This is related to our infrastructure puppet modules. For reference: https://github.com/cargomedia/puppet-packages/pull/1094

[2015-12-31 18:08] #121 closed

[2016-01-07 15:09] tomaszdurka opened #122 "Introduce custom stream channel ID"

[2016-01-09 12:23] tomaszdurka opened #123 "Allow modifications to proxied messages"

[2016-01-10 14:43] tomaszdurka opened #124 "Pass stream only to cm-api-client methods"

[2016-01-10 15:29] tomaszdurka opened #125 "Introduce Channel class"

[2016-01-12 09:05] kris-lab opened #126 "Verify if cleanup is done when audioroom is destoryed"
@tomaszdurka @vogdb @njam

We should make sure that `cm-janus` is aware of room destroy event. If room is destroyed of any reason e.g. master session expires then Janus removes room and notify all connected sessions to the audioroom plugin. It sends something like this:
[code]

We should make sure to remove `stream` in `CM` then with e.g. `rpc_removeStream`?

@tomaszdurka can you confirm it is imp

[2016-01-12 09:11] kris-lab opened #127 "Verify if cleanup is done when "mountpoint" is destoryed"
@tomaszdurka @vogdb @njam

We should make sure that `cm-janus` is aware of `mountpoint` destroy event. If `mountpoint` is destroyed of any reason e.g. master session expires then Janus removes `mountpoint` and notify all connected sessions to the `rtpbroadcast` plugin. It sends following messages:

[code]
and
[code]

We should make sure to remove `stream` in `CM` then with e.g. `rpc_removeStream`?

[2016-01-12 09:15] kris-lab commented on #127
Maybe we should watch for `create` request and then treat that `WS` connection as master connections? If any creation is done for specific `WS` then any `destroy` on this connection should do cleanup in `CM-app`?

It is implemented like this @ Janus plugins.

[2016-01-12 09:31] njam commented on #126
Same for video channel maybe - @kris-lab do you know what the message is there?

[2016-01-12 09:31] njam commented on #126
Ah: https://github.com/cargomedia/cm-janus/issues/127

[2016-01-12 11:47] tomaszdurka commented on #127
We listen for hangup event and remove plugin in case it happens: https://github.com/cargomedia/cm-janus/blob/b5b376df3ae62b926436e95b8cbd6ac8e4d10a30/lib/janus/session.js#L34

Not sure if this is the best thing we can do. Maybe plugin should still be there.

Note:
@vogdb we lately merged change that when plugin/session is not present we proxy message between client and janus. With removal of the p

[2016-01-12 11:49] tomaszdurka commented on #126
I understand this is event generated by janus. We do not, but we can listen for it.

[2016-01-12 11:55] kris-lab commented on #126
As far as I understand we have problem when audioroom is destroyed due to master connection drop. CM is not aware of it ans stream stays active for other subscriber of the room. Basically if room is destroyed then CM should destroy stream channel and subscribers. @njam wdyt?

[2016-01-12 11:58] njam commented on #126
Yes, exactly.

[2016-01-12 14:04] kris-lab commented on #127
I think `hangup` is safe in current scenario (for rtpbroadcast). However it is **bit dirty**. Perfectly would be watch all `create/destroy` events for WS, then watch if they are `success` (by transaction ID). If they are we should store this for WS (audioroom->create->success->cm-notified, mountpoint->create->success->cm-notified) then if WS drops we know what to cleanup?

[2016-01-12 14:13] tomaszdurka commented on #127
Well we already track all create events, however there might be no destroy (from client) event, but mountpount could be already dead.

I understand janus plugin sends some event independently to all connections related to that mountpoint/plugin.
If so, we can easily listen for that event from Janus and cleanup.

[2016-01-12 14:13] tomaszdurka commented on #127
@kris-lab

[code]
Can you verify that above event is sent to all clients independently?

[2016-01-12 14:24] kris-lab commented on #127
yes, every connected client receives that message (event).

then each client sends back this:
[code]

[2016-01-12 14:37] vogdb commented on #127
And they will send them because every message reception should be confirmed as Chris showed in the previous comment https://github.com/cargomedia/cm-janus/issues/127#issuecomment-170926007

[2016-01-12 15:02] vogdb commented on #127
@kris-lab when do you think is the correct moment to remove stream? When `cm-janus` receives `destroyed`? It does not matter for cm-janus whether client confirms it or not. Janus destroyed `mountpoint` => `mountpoint` does not exist anymore. Or shall we wait until client confirms the reception of `destroyed` event?

[2016-01-12 15:09] kris-lab commented on #127
Client can only receives event `destroyed` but it cannot prevent this as this is done already. IMO if you catch `destroyed` you can remove streams.

[2016-01-12 15:26] vogdb commented on #127
@kris-lab  is it true for Audio and Video plugins?

[2016-01-12 15:36] kris-lab commented on #127
@tomaszdurka as discussed please add your comment.

btw: for `rtpbroadcast` plugin the `stopped` event means literally `destroyed` (so `stopped=destroyed` for both audio/video plugins). Also for both plugins every connected listeners/participant receives this events.

[2016-01-12 15:41] tomaszdurka commented on #127
In order to remove streams we will:
- removeStream on  websocket connection close (already done)
- removeStream on rtpbroadcast hangup (already done)
- removeStream on rtpbroadcast plugin stopped event
- removeStream on audioroom plugin destroyed event (to be done in https://github.com/cargomedia/cm-janus/issues/126)

[2016-01-12 16:26] tomaszdurka opened #128 "Upgrade rpc endpoints to CM 1.164.0"

[2016-01-13 08:20] tomaszdurka opened #129 "Add test for JobHandlerRegistry.prototype.registerFromConfiguration"

[2016-01-13 08:39] tomaszdurka opened #130 "Release 0.3.0"

[2016-01-13 09:04] tomaszdurka opened #131 "Adjust configuration information about handlers"
- add handlers to docu
- adjust default config to use correct mjr2webm notation

[2016-01-13 09:47] tomaszdurka opened #132 "Make sure to properly resolve for all messages"

[2016-01-13 10:00] tomaszdurka opened #133 "Release 0.3.1"

[2016-01-13 16:14] kris-lab opened #134 "Add support for transparent "audioroom" create on join/changeroom"
We have added support for transparent `audioroom` creation if `room` does not exist on `join/changeroom` request. It is done here https://github.com/cargomedia/janus-gateway-audioroom/pull/27 and support for

- Rooms should created transparently. If a room doesn't exist on "join" and "changeroom" it would be created
- There should be no more "master" connection - i.e. the room is not destroyed whe

[2016-01-13 21:43] njam opened #135 "Zombie streams without janus session"
Multiple streams from the same user on the same channel.
Seems like after some time the janus stream session is already gone, but cm-janus still has entries.

This is problematic because the cleanup mechanism in CM never succeeds (because `stopStream` fails due to the missing session in janus).

Example log:
[code]

@tomaszdurka wdyt, what could cause this?
Any good ideas for handling this?

[2016-01-14 07:35] njam opened #136 "Add timestamps to log"
@vogdb something for you?

cc @tomaszdurka

[2016-01-14 07:59] njam opened #137 "Destroy session on "timeout""
@tomaszdurka @vogdb

Example message from janus:
[code]

[2016-01-14 08:00] njam commented on #135
"timeout" is not considered: https://github.com/cargomedia/cm-janus/issues/137

[2016-01-14 08:01] njam commented on #135
@kris-lab can you easily find all cases in janus where a session is destroyed? Maybe there are others we are missing…

[2016-01-14 09:09] njam opened #138 "stopStream http endpoint should also call "rpc_removeStream""
@tomaszdurka @vogdb

[2016-01-14 09:22] kris-lab commented on #135
The only cases for session destroy I see:
- `timeout` of session (after 60sec of inactivity)
- `WebSocket` drops
- `attach` if `janus_ice_handle_attach_plugin` returns error
- `dettach` if `janus_ice_handle_destroy` returns error

So I would say that I can imagine if `session` was created and `attach` failed for some reason then session will be destroyed without any extra notification. However `at

[2016-01-14 09:54] tomaszdurka commented on #138
I am not sure about this anymore. It should happen.

Once we receive `stopStream` event we send `detach` to janus, janus sends `detached` to cm-janus, cm-janus will remove plugin/stream and then send cm-api call.

[2016-01-14 10:33] njam commented on #138
Makes sense, please confirm that it works, and close if it does

[2016-01-14 13:02] kris-lab commented on #135
As discussed with @tomaszdurka following are not valid:
- `attach` if janus_ice_handle_attach_plugin returns error
- `dettach` if janus_ice_handle_destroy returns error

[2016-01-14 13:31] njam commented on #135
ok great, closing then.

[2016-01-14 13:31] #135 closed

[2016-01-14 13:50] tomaszdurka opened #139 "Release 0.3.2"

[2016-01-14 14:16] tomaszdurka opened #140 "Properly cleanup channels after subscribes removed"

[2016-01-14 15:50] tomaszdurka opened #141 "Release 0.3.3"

[2016-01-14 21:17] njam opened #142 "Ignore "no such session" in response to detach"
@tomaszdurka @kris-lab @vogdb

As in:
[code]

[2016-01-14 21:19] njam opened #143 "Exception: Must be instance of `Stream`"
@tomaszdurka @kris-lab @vogdb

[code]

[2016-01-14 22:32] njam opened #144 "Generates different mediaIds"
…which fails in CM.

[2016-01-14 22:37] njam commented on #144
This faulty behaviour is triggered by this bug: https://github.com/cargomedia/cm/issues/2054

[2016-01-15 11:05] vogdb commented on #136
I researched our logging. I came to decision that the choice of `minilog` was wrong. It's very primitive. For example in order to add `timestamp`, we need to write our own Formatter class to do it properly or hacky inject timestamp at `write` method of `Logger`. I would suggest to use `log4js`. It suits us well in pulsar-rest-api. Why not use it here?

@njam @tomaszdurka do you have any objections

[2016-01-15 11:23] vogdb commented on #136
I can implement here timestamp for minilog and postpone log rewriting until the better times, if you want.

[2016-01-15 11:23] njam commented on #136
Very good idea! Hail to the chief!

[2016-01-15 12:50] tomaszdurka commented on #144
This should be fixed by #122

[2016-01-15 18:04] tomaszdurka opened #145 "Release 0.3.4"

[2016-01-15 18:11] tomaszdurka opened #146 "Remove channels references"

[2016-01-15 18:15] tomaszdurka opened #147 "Release 0.3.5"

[2016-01-15 19:09] tomaszdurka opened #148 "Adjust message processing for rtpbroadcast"

[2016-01-15 19:11] tomaszdurka opened #149 "Release 0.3.6"

[2016-01-15 19:52] tomaszdurka commented on #144
Fixed by #122.

[2016-01-15 19:52] #144 closed

[2016-01-15 19:53] tomaszdurka commented on #143
Fixed by #122.

[2016-01-15 19:54] vogdb commented on #143
hm. What a magical #122.

[2016-01-16 03:52] tomaszdurka commented on #138
Verified to work. Two stop-streams requests below:
[code]

Browser then sends `detach` request again. This is not connected to issue, but just strange as this will return janus error response.
[code]

[2016-01-16 03:52] #138 closed

[2016-01-16 14:36] tomaszdurka opened #150 "Fix handling create response"

[2016-01-16 14:41] tomaszdurka commented on #143
^^

[2016-01-16 14:52] tomaszdurka opened #151 "Release 0.3.7"

[2016-01-16 16:56] tomaszdurka opened #152 "Adjust job-handlers"

[2016-01-16 23:27] kris-lab commented on #143
[code]

[2016-01-17 16:25] tomaszdurka commented on #143
Seems it's not so magical :)

[2016-01-17 17:26] tomaszdurka opened #153 "Introduce job tmp directory"

[2016-01-17 22:41] tomaszdurka opened #154 "Streamling job handling (logging, cleaning, etc)"

[2016-01-18 14:49] tomaszdurka opened #155 "Do not treat web-socket write exceptions as errors"
[code]

[2016-01-18 16:27] njam opened #156 "Timeout issue: Cannot read property 'onRemove' of null"
[code]

[2016-01-18 16:28] njam opened #157 "Doesn't send ACL request to cm app"
[code]

This happened after *many* unsuccessful publish calls (throwing in rpc_publish()).

[2016-01-18 16:30] kris-lab opened #158 "TCP connection problem"
[code]

If I create and destroy sessions in loop I get this error time to time. @tomaszdurka wdyt?

[2016-01-18 16:40] njam opened #159 "Failing RPC call closes connection?"
[code]

[2016-01-18 16:42] kris-lab commented on #158
closing. cannot reproduce anymore.

[2016-01-18 16:42] #158 closed

[2016-01-18 17:48] njam opened #160 "subscribe: Cannot read property 'plugin' of null"
[code]
followed by:
[code]

[2016-01-18 18:42] njam opened #161 "Destroys audioroom when only 1 participant?"
I have an audio streamchannel/room with 2 participants.
When I end the connection on one end, the channel is completely removed (2 `removeStreams()`).

@tomaszdurka @kris-lab do you see what's happening here?
Here's the log:
[code]

Additionally this sends *only* the following WS message to the other client, which doesn't lead to re-connect or anything. The client thinks it's still connected:
[cod

[2016-01-18 18:45] njam commented on #161
I think it's janus, cleaning up the room:
[code]

[2016-01-18 21:46] kris-lab commented on #161
It is janus removing room too fast. See https://github.com/cargomedia/janus-gateway-audioroom/issues/35#issuecomment-172656951

[2016-01-19 08:05] #161 closed

[2016-01-19 10:10] njam commented on #155
@vogdb for you?

[2016-01-19 10:22] #142 closed

[2016-01-19 10:39] njam opened #162 "Extract janus client into separate codebase?"
Reusable in the browser *and* in Node.js.
Let's investigate to see if and how it is feasible.

cc @tomaszdurka @zazabe

[2016-01-19 11:17] njam commented on #143
[code]

[2016-01-19 11:49] tomaszdurka opened #163 "Reject session/plugins messages not related to "registered" plugins"

[2016-01-19 13:09] njam opened #164 "Retry failed jobs regularly"
Currently they are only retried on restart of the daemon?

We should somehow retry failed jobs regularly, up to X times?
On every failure we should log an error.

@tomaszdurka @vogdb thoughts?

[2016-01-19 13:57] vogdb commented on #164
Yes we need to retry them! Shall the number of retries be persistent through app restarts?

[2016-01-19 14:04] vogdb commented on #155
щл

[2016-01-19 14:34] njam commented on #164
I think persistence is not needed. How about we retry 10 times, then abort?
We should also make sure we don't retry *all* previous jobs at the same time, so this should somehow be *throttled*?

[2016-01-19 14:49] tomaszdurka commented on #164
Does abort means we remove job and pretend nothing happened? I would rather move job-file somewhere ?

[2016-01-19 15:02] njam commented on #164
Or retry forever, with exponential backoff?

[2016-01-19 15:19] tomaszdurka opened #165 "Remove stream instead of detach on hangup"

[2016-01-19 15:21] vogdb commented on #164
I like it ^___^

[2016-01-19 16:11] tomaszdurka opened #166 "Release 0.3.8"

[2016-01-20 10:26] zazabe commented on #162
:+1:

[2016-01-20 16:34] njam opened #167 "Throttle jobs"
If many jobs are retried, they all start at the same time. This can kill any machine.

@tomaszdurka @vogdb
Should we throttle job execution by let's say max. 10 at the same time?

[2016-01-21 11:43] zazabe opened #168 "Make sure proxy doesn't crash on invalid json from websocket"

[2016-01-21 12:44] tomaszdurka opened #169 "Remove transaction from Error"

[2016-01-21 12:59] tomaszdurka commented on #143
Fixed in #160

`.stream` access has been replaced with `getStream()` method which will early verify that plugin has valid stream otherwise throw Janus exception properly handled by proxy.

[2016-01-21 13:01] tomaszdurka commented on #157
Being done in #163.

[2016-01-21 13:01] #157 closed

[2016-01-21 14:24] #143 closed

[2016-01-21 16:17] njam opened #170 "Pass along thumbnail "createdAt" to cm"
New field "createdAt" (unix timestamp) was added to thumbnail job descriptions:
https://github.com/cargomedia/janus-gateway-rtpbroadcast/pull/57

It will be expected as a new third argument to `importVideoThumbnail` in https://github.com/cargomedia/cm/pull/2065

@tomaszdurka @vogdb can you pass it along accordingly?
Can you check if it's okay to pass superfluous arguments to the CLI call - so that

[2016-01-21 17:10] tomaszdurka opened #171 "Release 0.4.0"

[2016-01-21 17:29] tomaszdurka opened #172 "Release 0.5.0"

[2016-01-22 14:38] njam commented on #164
As researched with Tomasz: maybe use https://github.com/Automattic/kue - which has all the features we want.

[2016-01-22 14:44] njam opened #173 "Job handler: Error: stderr maxBuffer exceeded."
[code]

@tomaszdurka @vogdb will this abort the job? if so, then let's find a way to handle it more gracefully.

[2016-01-25 08:40] njam opened #174 "Add "development" docu"
@vogdb @tomaszdurka

- How to install dependencies
- How to run tests
- How to release
 - Travis will release to npm automatically?
 - How to create the tag? Needs to be created *before* the travis build?

[2016-01-29 10:38] tomaszdurka opened #175 "Notify cm-application about shutdown (remove streams)"

[2016-01-29 11:22] njam commented on #175
Should we do it on "startup" (because we can be sure it will be executed) *and* "shutdown" (to notify CM as quickly as possible)?

[2016-01-29 15:39] zazabe opened #176 ""null for Plugin...No Stream found for Plugin" error"
At some point, the client received this error:
[code]

Could be related to cargomedia/sk#2780 (2 plugins are detached at the end, which seems wrong), I'll try again when it will be fixed...

WS frames on the client side:
[code]

CM Janus log:
[code]

[2016-01-31 16:24] vogdb commented on #162
Ok. Here is the short overview. To extract the most from cm-janus and janus.js into one codebase we need to make them work in the same way. Currently they differ. The main difference is that cm-janus is proxy and janus.js is client. I displayed this difference on the below diagram and it shows that cm-janus handles income and outcome messages independently of each other and janus.js handles them a

[2016-02-01 09:03] vogdb commented on #162
@tomaszdurka @njam @zazabe please look at the above

[2016-02-01 11:24] njam commented on #162
I see! So cm-janus would become more like a real janus-client *and* -server, adding a layer in between.

I guess this client should also handle events from janus like `hangup` or `webrtcup`, as they are needed in both the browser and in cm-janus. I imagine this can be done easily by just listening for `message` as you showed it and then emit an event.

[2016-02-01 15:11] tomaszdurka commented on #175
I am looking into this now and seems that streams should be removed before shutdown.

Should we create action to explicitly remove all streams connected with Janus in cm-app?

[2016-02-01 15:34] tomaszdurka commented on #175
@vogdb @njam any suggestions why clenaup would not work when init.d restarting cm-janus?

[2016-02-01 17:10] vogdb commented on #175
It does not work cause we shutdown too quick. Try this simple example. Run this server in the background:
[code]

After that run this client.
[code]

You will see that server does not receive the sent request :(

[2016-02-02 11:57] tomaszdurka commented on #175
Should we make our removals Promise based and wait for all promises to succeed?

[2016-02-02 12:21] vogdb commented on #175
I don't see any other choice. `request-promise` lib does not execute any callback when request is built and sent. It executes callback only when there is a respond to the request.

[2016-02-02 12:40] tomaszdurka commented on #162
Not sure if I got your overview right. Maybe you actually meant similar thing which I try to describe below when saying "proxy should work like client rather then opposite". Let me present:

### WebSocket wrapper
First thing we should and can extract is our wrapper on Websocket connection. It queues messages, promisifies methods, unifies errors, etc.

### Client
Second thing which is similar for b

[2016-02-02 12:41] tomaszdurka commented on #175
We could introduce `removeAllStreams` endpoint on `cm`. Which on the other hand would be the only way to remove streams on startup.

Wdyt? @njam?

[2016-02-02 15:19] njam commented on #175
Could be problematic if we have multiple cm-janus instances later on.
But maybe a `rpc_removeStreamList(array)` where we could remove all of them in one batch?

[2016-02-02 15:52] tomaszdurka commented on #175
Well, I think removing them 1 by 1 or all together on shutdown is not a problem.
Regarding removal of all on startup we could remove all streams with certain server-id.

[2016-02-02 15:53] vogdb commented on #175
The problem is that requests are not sent. If we do a batch removal we still have to wait for request to be sent at least. Currently we don't do it.

[2016-02-02 16:15] vogdb commented on #162
Yes!

to @tomaszdurka
Actually I meant the same as you wrote but you didn't read carefully my review as always :D

[2016-02-02 16:45] tomaszdurka commented on #162
@vogdb I did read it carefully couple of times, but I don't find it so understandable.

- nothing about how to actually extract client (sessions, plugins, transactions management)
- nothing about where to put/separate handlers of the plugin events
- code examples are really not understandable; using `this` in no idea what context doesn't help
- from reading "IMO the solution..." I understood that

[2016-02-02 16:55] tomaszdurka commented on #175
I understand. No matter if we do it in batch or 1by1 we will still wait for requests to at be sent.
My statement was more about the startup removal. We don't have any data about streams then (except server-id).

[2016-02-02 17:04] njam commented on #175
"server-id" makes sense!
Yes we should wait for the server's response. On shutdown probably with a timeout?

[2016-02-02 17:14] tomaszdurka commented on #175
So:
- timeout on stop (resolve after time even if cleanup not finished)
- hold startup (listening) until cleanup is done

[2016-02-02 18:12] vogdb commented on #162
Sessions will go to janus-core. Plugins will not go cause the logic inside them is different for client and proxy. Transactions will go to janus-core cause they are reusable and independent.

Handlers of plugin events stay in plugins cause logic of handlers is different for proxy and client. So plugins will exist separately for each of them.

Well. it was just a pseudo-code that was based on Janus

[2016-02-03 15:57] tomaszdurka commented on #173
- What is causing the buffer to exceed? (ffmpeg warnings?; try to spam stderr in node?)
- Is there a way to extend this buffer? (is there default limit?)

[2016-02-03 15:58] njam commented on #173
…or a way to flush/clear the buffer? (or do we need the data?)

[2016-02-03 17:45] vogdb commented on #173
The solution here is quite simple. We need to replace `exec` with `spawn`. It is a known node.js feature. Working on it.

[2016-02-04 10:40] tomaszdurka opened #177 "Implement cm-api conccurency on plugin level"

[2016-02-05 16:28] tomaszdurka opened #178 "Queue streams methods per plugin"

[2016-02-05 16:39] tomaszdurka opened #179 "Make removing of connections, sessions, plugins promise-based"

[2016-02-09 15:57] njam commented on #176
Just experienced this on production.
@tomaszdurka what's your take on this?
Is it maybe related to cm-janus restart?

[2016-02-10 11:03] vogdb commented on #162
- Introduce expected API
 - Functional acceptance tests

[2016-02-10 11:30] njam opened #180 "Add timeout for job processing"
Currently I'm investigating a job conversion that's running for 9 days now (!). The file is 103GB, but still this is too long.

@tomaszdurka @vogdb should we add a timeout?

cc @kris-lab

[2016-02-10 11:47] vogdb commented on #180
Timeout is good. What are suggested values?

[2016-02-10 13:18] njam commented on #180
Let's do 24h - this is just to avoid forever-running jobs.

[2016-02-10 13:22] vogdb commented on #162
@njam @zazabe @tomaszdurka Please your thoughts about this API:

[code]

[2016-02-10 13:24] njam opened #181 "Send KILL signal to job processes on shutdown"
Currently we send `TERM` signal. This can potentially lead to detached job processes, if they don't terminate.

I think jobs don't suffer from being killed, so how about we just send `KILL`?

@vogdb @tomaszdurka @kris-lab wdyt?

[2016-02-10 13:30] vogdb commented on #181
We send `SIGKILL`
[code]

[2016-02-10 13:33] njam commented on #181
Ah!

[2016-02-10 13:33] #181 closed

[2016-02-11 09:33] zazabe commented on #162
## About the browser side

Looks good to me and seems to be a good path to escape from the crappy vendor `Janus` client!

It will be straightforward for `vr/janus/client.js`, and for `vr/janus/plugin.js`, we will have to send transactions through this `plugin` instance received after a `session.attachPlugin`, which seems good to me too.

Btw, The biggest tasks on the browser side will be about rew

[2016-02-11 10:11] tomaszdurka commented on #162
Looks good, but not sure about event listeners on each resource. Is there `processMessage` included in this api? Or do we trigger message on each resource no matter what? Also should we have event for outgoing message?

[2016-02-11 12:15] vogdb commented on #162
No. It's needed only for cm-janus.

Currently yes but we can change it for purposes we need. For example if message belongs to plugin then it skips emitting on connection and session and triggers only on plugin. Of course it happens, if only plugin is represented on connection.

Can't think of a usecase here. Please share your thoughts @tomaszdurka.

[2016-02-12 11:18] tomaszdurka commented on #162
What about all the `timeout`, `destroyed`, `detached` events? I understood they will be listened by default on the client, within `processMessage` or shall we have multiple listeners independently?

[2016-02-12 11:28] vogdb commented on #162
By default you can receive them by listening on connection message:
[code]

[2016-02-12 11:38] njam commented on #162
Off topic thought: maybe we should support extensibility of the "transport" from the beginning. Like in [janus-gateway-ruby](https://github.com/cargomedia/janus-gateway-ruby/blob/master/lib/janus_gateway/transport.rb).

[2016-02-12 18:55] njam opened #182 "Mountpoint getting out of sync between janus and cm-janus"
I just experienced the mountpoint data of cm-janus going out of sync with janus' data.
cm-janus would still have the mountpoint, but janus doesn't have it anymore.

Mountpoint id: kwLMiDIDdpKXBQ62IMDOQg__
Full log: https://gist.github.com/njam/fa5644aaf8b041b9e3fe

This is cm-janus 0.5.0. I understand it shouldn't happen with this version.

@tomaszdurka @vogdb could you investigate?

[2016-02-12 19:12] vogdb commented on #182
Interesting. This mountpoint belongs to session `1791091074 ` which is removed during the creation of mountpoint. Lets look at one very informative piece of log:
[code]
cm-janus receives a `timeout` event for session `2138492998` but somehow it removes `1791091074`. I'm curious about it. @tomaszdurka Shall we verify session_id and plugin_id of janus messages? Currently we verify browser messages b

[2016-02-12 19:14] vogdb commented on #182
I meant to have this:
[code]

[2016-02-18 15:29] njam opened #183 "Origin/edge cluster manager"
#### When an edge joins the cluster:
1. edge -> clustermanager: **register edge** (HTTP call)
2. clustermanager -> edge1: **start janus session, attach supported plugins** (WebSocket)
3. clustermanager -> origin: **start janus session, attach supported plugins** (WebSocket)
4. clustermanager -> origin: **rtpbroadcast: subscribe to mountpoint updates** (WS)
5. origin -> clustermanager: **rtpbroadca

[2016-02-19 12:22] vogdb commented on #162
@tomaszdurka @njam @zazabe Does it make sense to include webrtc processing into janus-gateway-js library? By webrtc processing I mean plugin methods like `createOffer`, `createAnswer`, `handleRemoteJsep` and etc. Also keepalive polling functionality.
Cm-janus does not need webrtc processing. Only browser client requires webrtc processing.

[2016-02-19 13:58] tomaszdurka commented on #162
It's rather question to @zazabe :)

[2016-02-19 13:59] zazabe commented on #162
@vogdb I'll rather keep this client for WS communication and do these RTC stuff with something else...

[2016-02-19 14:04] vogdb commented on #162
@zazabe Will be suitable for you if I create a second library like `janus-gateway-js-browser`/`janus-gateway-js-webrtc`? and implement webrtc stuff there?

[2016-02-19 14:07] vogdb commented on #182
I will try to reproduce this problem

[2016-02-19 14:22] zazabe commented on #162
Yes, most of these RTC things are inside the vendor `janus.js` (getUserMedia, SDP negotiation, ICE trickle, etc...) and could be extracted from it.

There's something about RTCPeerConnection statistics also, but we did our own implementation in `vr/janus/plugin`, I'm not sure if you should integrate it to this new lib or not but we can look into this later...

[2016-02-22 09:55] tomaszdurka commented on #182
Any luck?

[2016-02-22 10:06] tomaszdurka commented on #164
This is done in #167 (closing for more clearance).

[2016-02-22 10:06] #164 closed

[2016-02-22 10:07] tomaszdurka commented on #176
Yes, actually this should be fixed in current master, we just didn't release some time.
Let's keep for reference and verify if it doesn't happen anymore.

[2016-02-22 10:25] vogdb commented on #182
Unfortunately not :(

[2016-02-22 11:22] vogdb commented on #182
@tomaszdurka Why did we do a separate message handling of plugins here @ea0e04e944c0e62aebd327fbfb9c3922629e9d26 ?

I am curious in this part. Do we have any real examples of such messages with `plugin_id` but without `session_id`?
[code]

[2016-02-23 08:30] njam opened #184 "Archiving issues"
Some video and thumbnail archives have no file on S3.

[2016-02-23 09:24] njam commented on #184
Closing in favor of https://github.com/cargomedia/sk/issues/2935

[2016-02-23 09:24] #184 closed

[2016-02-26 12:14] tomaszdurka opened #185 "Release 0.6.0"

[2016-02-29 14:11] tomaszdurka commented on #183
This issue has transformed into separate project: https://github.com/cargomedia/janus-cluster

[2016-02-29 14:12] tomaszdurka commented on #183
Reopening - still needs wiring to external janus-cluster service.

[2016-02-29 14:14] tomaszdurka opened #186 "Introduce JanusCluster service for redirection"
- Introduce JanusCluster service (http client for http://github.com/cargomedia/janus-cluster)
- Use ClusterManager service (if provided) to redirect `/edge` endpoint
- Use origin address for non-edge endpoint

[2016-02-29 14:14] tomaszdurka commented on #183
Closing in favor of #186

[2016-02-29 14:14] #183 closed

[2016-02-29 14:16] tomaszdurka opened #187 "Use external janus client"
- Use our cm-janus client library (http://github.com/cargomedia/janus-gateway-js)

Let's put this on hold for some time.

[2016-02-29 14:17] tomaszdurka commented on #162
Work moved into separate project http://github.com/cargomedia/janus-gateway-js.
Reusing new client will be done in #187.

[2016-02-29 14:17] #162 closed

[2016-03-01 10:14] tomaszdurka opened #188 "Fix janus-jobs timeout"

[2016-03-01 13:47] vogdb opened #189 "Fix PluginStreaming.removeStream"

[2016-03-01 20:39] vogdb opened #190 "Release 0.6.1"

[2016-03-02 07:52] njam opened #191 "Readme: Add docu about status HTTP endpoint"
@tomaszdurka @vogdb add some comments / maybe curl example?

[2016-03-02 08:02] njam opened #192 "Streams got out of sync between janus and cm-janus"
cm-janus has 4:
[code]

janus has 0:
![screen shot 2016-03-02 at 08 55 17](https://cloud.githubusercontent.com/assets/360800/13453999/85412b38-e054-11e5-8fbc-9b89bbdd6d7d.png)

This happened on 2016-03-02 between 05:25 and 07:55 UTC.
The studio-agent repeatedly tried to re-create a mountpoint during that time:
![screen shot 2016-03-02 at 08 55 09](https://cloud.githubusercontent.com/assets/360800/

[2016-03-02 09:09] vogdb commented on #192
According to the logs it had started on `2016-03-02 05:45:29.462`. The root cause was that we couldn't publish a stream.
[code]

[2016-03-02 09:28] njam commented on #192
But this shouldn't result in out-of-sync streams, right?

[2016-03-02 09:29] vogdb commented on #192
Yep. I'm preparing now a detailed research.

[2016-03-02 10:05] vogdb commented on #192
Btw why we have shows at 5.47am UTC? Is that ok?

[2016-03-02 10:14] tomaszdurka opened #193 "Unhandled rejection"
[code]
This should be intercepted rather then throwing into "global".

[2016-03-02 10:16] tomaszdurka opened #194 "maxBuffer"
@vogdb is this still not released?

[code]

[2016-03-02 10:18] njam commented on #192
It was a test show, running from bulldog2 in Basel :)

[2016-03-02 10:45] tomaszdurka commented on #192
Oh this is still buggy. I will analyse again if the queueing for adding/removal is sufficient.

Important log pieces:
[code]

cm-janus cannot remove streams - we are calling janus http server and it fails with "No such session". This should be probably rescued and removed from local storage anyway.

Alternatively we can use new cm-janus client and simply detach existing plugin.

[2016-03-02 10:51] vogdb commented on #194
Yes. It's not released.

[2016-03-02 10:52] #194 closed

[2016-03-02 10:55] tomaszdurka opened #195 "Remove stream even after failed detach"
Currently we remove stream by detaching plugin with http call.
We should catch http-call error and remove stream from local storage anyway.

Example error:
[code]

[2016-03-02 10:55] tomaszdurka commented on #192
1. We got into invalid state - this is something we have been aware of and happens in high concurrency of add/remove plugin - it will be fixed by streaming-plugin action queuing.
2. There is a bug where cm cannot invalidate streams. This should be addressed in https://github.com/cargomedia/cm-janus/issues/195.

[2016-03-02 11:07] vogdb commented on #195
Well. We should not fix this. The problem is that session is destroyed before detach. It happens due to uncaught error from `cm-api-client.publish`.

[2016-03-02 11:10] vogdb commented on #192
It's quite a clew here. "No such session" happens cause session is destroyed before detach. It happens due to uncaught error from `cm-api-client.publish`. There are also plenty of other errors. Most of them are fixed in 0.6.0.

[2016-03-02 11:12] tomaszdurka commented on #192
Same mechanism (http-client).

[2016-03-02 11:12] vogdb opened #196 "Job fails on an empty file"
It happens when publish stream fails and we immediately remove stream which hasn't yet been published for real.
[code]

[2016-03-02 11:14] tomaszdurka commented on #196
@kris-lab don't we dump fils+job-files only when some valid file is generated?

[2016-03-02 11:17] tomaszdurka commented on #195
Above case comes from syncing (it doesn matter so much).

Problem occurs as cm-janus is not in sync with cm-janus.
Questions:
- should we consider they are not in sync? I understand you suggest not. I possibly agree.
- can we make 100% sure they are in sync always?

[2016-03-02 11:35] vogdb commented on #195
All I wanted to say is that this problem is just a consequence of bugs in 0.5.0. For example the error log that you put in the first comment with session `3502223475`. It happened cause 0.5.0 doesn't support multiple sessions, so when we receive timeout on an outdated session, we remove the absolutely another session which is active now. See the log:
[code]

You see that we receive `timeout` for `

[2016-03-02 12:21] kris-lab commented on #196
@tomaszdurka you mean this https://github.com/cargomedia/janus-gateway-rtpbroadcast/issues/56 ?

[2016-03-02 12:23] kris-lab commented on #196
Well I think the `mjr` file is valid and proper but do not contain key frame which would be this https://github.com/cargomedia/janus-gateway-rtpbroadcast/issues/55

[2016-03-03 10:59] tomaszdurka opened #197 "Stop cm-janus process when any module fails to start"

[2016-03-03 11:14] tomaszdurka opened #198 "Allow to run cm-janus with specific modules only"
Allow to pass command-line option to run only specific modules, example usages:

[code]

[2016-03-03 12:58] tomaszdurka commented on #195
As discussed we should not worry about these as this should not happen if cm-janus is synced correctly with janus.

[2016-03-03 12:58] #195 closed

[2016-03-03 19:06] tomaszdurka opened #199 "Re-add job after 1 minute"

[2016-03-03 19:09] tomaszdurka opened #200 "Remove failed jobs working directories"
Before we decided to keep failed jobs WD to investigate, not relevant for now.

[2016-03-04 11:44] tomaszdurka commented on #196
Ok, let's close this one here. We provide correct arguments from job-description files - enough from this side.

[2016-03-04 11:44] #196 closed

[2016-03-07 12:06] christopheschwyzer opened #201 "Fails to start if cm can't be reached"
When booting cm virtual machine:
cc @kris-lab @njam

[code]

[2016-03-07 12:08] vogdb commented on #201
what cm-janus version do you have?

[2016-03-07 12:11] njam commented on #201
Afaik this happens in current master, and is expected behaviour.
If cm-janus can't reach cm during startup (`removeAllStreams()`) it will fail.

This is problematic when booting a box, because we can't guarantee that CM is available *before* cm-janus.
Maybe it's better to retry this call?

[2016-03-07 13:15] vogdb commented on #201
ok. Will do a PR here for this feature.

[2016-03-07 14:12] njam commented on #201
@tomaszdurka agree?

[2016-03-07 14:16] njam commented on #201
Probably "cm-janus" should wait with opening any ports until it could do the `removeAllStreams()` call. Does that make sense?

[2016-03-07 14:51] njam opened #202 "Failing to stop stream"
@tomaszdurka @vogdb
CM:
[code]

cm-janus:
[code]

CM mysql - the stream in question:
[code]
-> Key: **ca410815-1a22-4794-aebc-d2bfba8ffe1c**

cm-janus status:
[code]

[2016-03-07 14:52] njam commented on #202
As I understand we have a stream, with no plugin/session?

Aleksei:

[2016-03-08 09:14] kris-lab opened #203 "Cannot create mountpoint"
Could you investigate @tomaszdurka @vogdb

[code]

cc @njam

[2016-03-08 09:21] njam commented on #203
Closeable?
See https://github.com/cargomedia/sk/issues/3049

[2016-03-08 09:23] kris-lab commented on #203
Please ignore this. Resolved already.

[2016-03-08 09:23] #203 closed

[2016-03-08 10:54] vogdb opened #204 "Release 0.6.3"

[2016-03-08 11:14] tomaszdurka opened #205 "Add error information to "Failed job process" exceptions"
Currently we get something like:

[code]

[2016-03-08 12:37] vogdb commented on #202
closed by #195

[2016-03-08 12:37] #202 closed

[2016-03-09 12:43] tomaszdurka opened #206 "Cannot write to buffer - blocks process from running"
As investigated: looks like lame is exhausting node.js' STDERR buffer?

[code]

[2016-03-09 15:34] vogdb commented on #206
The problem is narrowed down. Currently we do
[code]
and this hangs the process. In the end it is killed by timeout. But if we add 'stderr' to 'capture':
[code]

then works fine. I guess it is a problem of the used thirdparty `child-process-promise`. Should I prepare a quick fix with `stderr` or dig deeper to the root?

[2016-03-09 16:51] vogdb commented on #206
Ok. My previous suggestion is actually a proper solution. See more here http://stackoverflow.com/questions/20792427/why-is-my-node-child-process-that-i-created-via-spawn-hanging. Preparing a PR.

[2016-03-11 10:57] tomaszdurka opened #207 "Use NestedError instead of concatenating error.stack with wrapper message"
Regarding this code:

[code]

[2016-03-13 19:58] vogdb commented on #187
@tomaszdurka can I start to implement?

[2016-03-14 03:43] tomaszdurka commented on #187
Let's put this on hold till next week.

[2016-03-14 12:05] tomaszdurka commented on #176
I guess this one is closable. @njam ?

[2016-03-14 12:26] njam commented on #176
Agree:
[code]

[2016-03-14 12:26] #176 closed

[2016-03-14 21:56] tomaszdurka opened #208 "Release 0.6.4"

[2016-03-15 16:33] tomaszdurka opened #209 "Error: EMFILE, open '/var/lib/janus/jobs/job-a61ad1a9c5e2d3264e61d1cb8642bcfe.json'"
Possible temporary error on reading files, should we retry?

[2016-03-15 16:44] vogdb commented on #209
Yep. There is a library for that. [graceful-fs](https://github.com/isaacs/node-graceful-fs). Should we try it? Also read this article for the explanation http://blog.izs.me/post/56827866110/wtf-is-emfile-and-why-does-it-happen-to-me

[2016-03-16 15:06] tomaszdurka commented on #209
For now let's keep it open only.

[2016-03-17 13:59] njam opened #211 "Add fluentd logger"
Via https://github.com/cargomedia/puppet-cargomedia/issues/1084

See https://github.com/fluent/fluent-logger-node
Fluentd is installed in VM as of https://github.com/cargomedia/cm-janus/pull/210

[2016-03-17 14:23] njam opened #212 "Ability to include configuration files from directory"
For easier configuration of certain parts of cm-janus with puppet it would be great if we could include multiple config files from a directory.
Similar like in [bipbip](https://github.com/cargomedia/bipbip#configuration) the config file could contain a key that specifies where to load files from:

[code]

In this case cm-janus would load all matching files from that path, relativ to the current co

[2016-03-18 11:08] njam opened #213 "Log JSON"
Each document should have:
- time (2013-10-31 12:48:33)
- level (error, debug, …)
- message
- any other fields (on the same level) - stacktrace, user_id, …

[2016-03-18 11:08] njam commented on #212
Closing in favor of https://github.com/cargomedia/cm-janus/issues/213

[2016-03-18 11:08] #212 closed

[2016-03-18 11:14] vogdb opened #214 "Add Config specs"

[2016-03-21 09:57] njam opened #215 "Add session context to most log records"
Via https://github.com/cargomedia/puppet-cargomedia/issues/1084

@tomaszdurka @vogdb
For debugging purposes it would be good to have a common field to identify the session of a log record.
Preferably that session context could be enriched when new information arrives. Maybe we can even parse the json "token" and extract the "web session id" to add it as well?

let's discuss!

[2016-03-21 09:58] njam commented on #192
@tomaszdurka so everything is covered? closeable?

[2016-03-21 09:59] tomaszdurka commented on #192
Yes, let's say it's good.

[2016-03-21 09:59] #192 closed

[2016-03-21 14:35] njam commented on #215
Allow to pass an arbitrary string identifier when connecting to cm-janus:
[code]

The fields in the *context* should be assigned to the WebSocket connection and included in all log messages relating to this connection.

How to make it available everywhere?
Having a "context" object? We can enrich that object with janus concepts like "janusSessionId" etc.

[2016-03-21 14:41] njam commented on #215
Let's do these steps:
1. Add context for websocket events (to browser and to janus)
2. Other events (cm http client, conversion jobs, bin/cm, http server)

[2016-03-21 16:28] vogdb opened #216 "Error in job process broke the whole process"
There is a claim that an error during the job processing kills cm-janus entirely :
[code]

cc @njam @tomaszdurka

[2016-03-21 17:27] vogdb commented on #215
@tomaszdurka This is very funny! As I've mentioned once in our discussion to #186 that the `ws` lib, which we use for cm-janus websocket server, does not allow to access `url` of incoming connection. I offered a replacement to another websocket library but you was against it. Can I do the replacement now? Should I upgrade `ws` lib to have this functionality(create a custom fork of it)?

[2016-03-22 20:51] vogdb opened #217 "Do not import empty conversion files in jobs"

[2016-03-23 11:40] tomaszdurka opened #218 "Change file log formatting to JSON"

[2016-03-23 12:40] tomaszdurka opened #219 "Release 0.6.5"

[2016-03-23 14:31] tomaszdurka opened #220 "Create logger wrapper"

[2016-03-24 10:46] njam opened #221 "Remove variables from log messages"

[2016-03-24 12:19] njam commented on #191
@vogdb maybe you can add this?

[2016-03-31 11:12] tomaszdurka opened #222 "Replace all error.msg with error.message"

[2016-03-31 15:09] vogdb commented on #222
Well. The only place where we have it is `lib/cm-api-client.js`
[code]

There actually those fields are part of `response` not some `Error` instance. This is the only place where `msg` is used. Please close this issue if you agree.

[2016-04-01 10:29] vogdb opened #223 "Release 0.6.6"

[2016-04-01 14:27] tomaszdurka opened #224 "Connection timeouts"
We have a lot of timeout exceptions (not able to connect to cm-janus)
- Javascript client error: Uncaught TimeoutError: Connecting to stream timed out after 15000ms. ##
- There were also errors on nginx layer
- Could not trace errors connecting to janus, so assume it's cm-janus issue

[Will update issue]

[2016-04-01 14:29] njam commented on #224
When I was telnetting to the WebSocket port of cm-janus I could connect, but received no data, the connection just stayed idle.

[2016-04-01 14:56] vogdb opened #225 "Add toString to all serialised classes"

[2016-04-02 17:52] njam opened #226 "Errors from "CMApiClient.removeStream()" are not logged"
We've just experienced lots of calls to `rpc_removeStream()` in CM failing ([details](https://github.com/cargomedia/cm/issues/2115)).

I noticed that there were no errors logged in cm-janus about it.

Here's an example "removeStream":
https://cargomedia.loggly.com/search/?terms=&from=2016-04-02T15%3A54%3A03.407Z&until=2016-04-02T16%3A04%3A03.407Z&source_group=

I guess the next record is the respo

[2016-04-03 10:52] vogdb commented on #226
We log error in `removeStream` for two cases:
 - Response contains `error` field. Those errors are logged immediately with level Error.
 - XHR request to server fails. Errors like `NotAuthorized` fall into this category. Those errors are logged only at the end of `processMessage` cycle with level `INFO`.

I see now that the second type of errors is not presented. The error that you've mentioned se

[2016-04-03 13:26] njam commented on #226
I suggest we should log an "warning" in these cases:
- JSON response was unexpected (`error` field, invalid json, …)
- HTTP response was unexpected (status not 200)
- Sub-HTTP problems (timeouts, DNS issues etc)

Those warnings should have a clear reference about what the original request was, and what the problem was.

I would not log successful responses. Or if we do it then only with "debug" le

[2016-04-03 14:37] vogdb commented on #226
As you wish, master!

[2016-04-04 10:24] tomaszdurka opened #227 "Use serialize concept to get logger fields"
[code]

[2016-04-04 11:42] vogdb opened #228 "Release 0.6.7"

[2016-04-04 12:21] njam opened #229 "Change some "info" log records to "warning" or "error""
Whenever something bad/unexpected happens it should be "warning" or "error".

E.g. this should be "warning":
[code]

cc @tomaszdurka

[2016-04-04 12:35] njam commented on #229
Could we include the handler type in the message easily? Like `janus.plugin.cm.audioroom:archive-finished`?

[2016-04-04 13:24] njam commented on #229
As discussed - maybe add the "job id" to any log record related to the conversion of this job.

[2016-04-04 13:32] njam commented on #229
Maybe use the context for that?

[2016-04-04 14:12] njam commented on #209
Closing in favor of https://github.com/cargomedia/puppet-packages/issues/1233

[2016-04-04 14:12] #209 closed

[2016-04-05 07:11] tomaszdurka opened #230 "Rename serialize to getContext"

[2016-04-05 07:59] njam opened #231 "Loggly: MappingConflict"
Raw message:
[code]

![screen shot 2016-04-05 at 09 59 08](https://cloud.githubusercontent.com/assets/360800/14275023/1ec7211a-fb15-11e5-934a-578d649950d9.png)

What is causing this?

[2016-04-05 08:19] njam opened #232 "Reduce number of (debug) log events"
Currently 50'000 events per hour => ~14 events per second.

![screen shot 2016-04-05 at 10 18 17](https://cloud.githubusercontent.com/assets/360800/14275488/bbf4e0c4-fb17-11e5-9495-4a762577dc1d.png)

Ideas:
- Combine debug records for the same transaction over some time? (instead of "-> browser", "-> janus" etc all separate?)
- What else?

[2016-04-05 09:16] tomaszdurka opened #233 "Move message key after level in logging"

[2016-04-05 09:19] tomaszdurka commented on #233
@vogdb please review

[2016-04-05 09:19] vogdb commented on #233
@tomaszdurka you forgot to push?

[2016-04-05 09:43] tomaszdurka commented on #224
@vogdb can you confirm this was result of logging issues we had iwth 0.6.6?

[2016-04-05 09:44] tomaszdurka commented on #222
Agree, closing.

[2016-04-05 09:44] #222 closed

[2016-04-05 09:44] vogdb commented on #224
Well, it is my guess cause the logging was so heavy-performant but I haven't searched for any proof of this.

[2016-04-05 09:48] vogdb opened #234 "Release 0.6.8"
@tomaszdurka agree?

[2016-04-05 09:58] tomaszdurka commented on #234
ok

[2016-04-05 11:24] tomaszdurka opened #235 "Context for logging"
Enrich and store context on these levels:

### Proxy/httpServer
1. Connection
- id
- arbitary data
2. Session
- id
3. Plugin
- id
4. Stream
- id
- channelMediaId
- channelKey

### JobManager
1. Job
- jobId
- handler type (e.g. `janus.plugin.cm.audioroom:archive-finished`)
- uid

[2016-04-05 13:02] tomaszdurka commented on #224
Let's close.

[2016-04-05 13:02] #224 closed

[2016-04-05 14:08] vogdb commented on #231
This happens due to changed format of log message.
For example If first send the field "message" as string: `{"message":"hello world"}`. Then sent in something like `{"message":{"0":"config: unknown configuration option: foo"},"timestamp":"2015-04-07T13:22:34.538Z"}` going from a string to a nested object. Such change causes this error.

Loggly index rolls over every 1-2 days (in most cases just 2

[2016-04-05 14:31] njam commented on #232
As discussed with Tomasz earlier: Let's change the log verbosity to INFO on production, and make sure that it contains all *relevant* logs. Then for development we can keep DEBUG which might be useful.

Can you do the necessary changes?

[2016-04-05 14:33] vogdb commented on #232
ok

[2016-04-05 14:33] vogdb commented on #231
I see that the message, that you have posted, has vanished from logs:
[code]

But we still have such error from log messages like cause their format is very incoherent:
[code]
[code]

I think that we will deal with them in #232

[2016-04-05 15:37] tomaszdurka opened #236 "Alternative version of Context generation"

[2016-04-05 16:33] tomaszdurka commented on #232
![62931467](https://cloud.githubusercontent.com/assets/113303/14289832/d263d546-fb5c-11e5-8682-030f3bfb8e6b.jpg)

[2016-04-05 16:33] tomaszdurka commented on #232
oops wrong pr

[2016-04-05 16:42] njam commented on #231
Oh, thanks for the research!
I see you created a "saved search" in loggly to see them. Let's keep this ticket open until we've resolve this fully.

[2016-04-05 18:01] tomaszdurka opened #237 "Make getContext return Context instead of hash"

[2016-04-06 07:30] njam commented on #231
Errors are currently gone.
Loggly told me we can use the "events" endpoint (RSID) to figure out *which* field caused the problems:

---
The field search using API could provide you the information you need:

https://www.loggly.com/docs/api-retrieving-data/

Below is an example use of field search using api:

curl -u USERNAME:PASSWORD! "http://SUBDOMAIN.loggly.com/apiv2/search?q=http.clientHost:"*"

[2016-04-06 07:44] njam opened #238 "Cannot read property 'error' of undefined"
I guess this should not happen?
[code]

[2016-04-06 07:47] vogdb commented on #238
Yes. It should not happen. It means that we received an `undefined` response from cm. How is that possilbe, I don't know. @tomaszdurka ?

[2016-04-06 07:47] njam opened #239 "cm-api: meaningful error message"
Message is currently:

Let's make it something meaningful like:

![screen shot 2016-04-06 at 09 45 54](https://cloud.githubusercontent.com/assets/360800/14309380/6133c054-fbdc-11e5-992f-d9d2c611ebd0.png)

[2016-04-06 07:51] vogdb commented on #239
I would not do it. The message actually is very informative and useful here. It tells us that `throw new JanusError.CmApi(reason.message);` was somehow ignored by its catch blocks and we caught it as `unhandled rejection`. It's a signal for us that logic of `cm-api-client` still has some holes.

[2016-04-06 07:52] njam commented on #238
What happens if the server responds with an HTTP 200 status, but returns an empty body? Would that have this result?
Afaics we're expecting the result of [request-promise](https://github.com/request/request-promise) to be an object (automatically json decoded?).

[2016-04-06 07:53] vogdb commented on #238
yes

[2016-04-06 07:53] vogdb commented on #238
Don't know. Haven't tried.

[2016-04-06 07:54] njam commented on #239
I see, so "Unexpected rejection error" is some global exception handler.
In that case let's increase its severity, and make sure that we catch this in the future?

[2016-04-06 07:56] vogdb commented on #239
What do you mean by that? To catch it where it should be caught and not have it as an unhandled rejection error?

[2016-04-06 08:19] njam commented on #239
Yes exactly :)

[2016-04-06 09:29] njam commented on #238
Let's check if request-promise throws if there's no json response? Otherwise parse JSON manually?

[2016-04-06 09:47] njam commented on #232
DEBUG:
Combine messages that come from browser and go to janus.

INFO:
- connection pair: connect, disconnect
- session: create, destroy
- plugin: attach, detach
- stream: create, stop

WARN:
Errors on external services

ERROR:
Unexpected internal and external errors

FATAL:
Uncaught errors

[2016-04-06 10:28] tomaszdurka opened #240 "Change log file level to info"

[2016-04-06 11:44] vogdb opened #241 "Release 0.6.9"

[2016-04-06 13:15] vogdb opened #242 "Fix HttpClient.detach usages"
[code]

[2016-04-07 09:54] tomaszdurka opened #243 "Change Context variables: `fooId` => `foo`"

[2016-04-07 11:15] vogdb opened #244 "Release 0.7.0"

[2016-04-07 13:53] tomaszdurka commented on #239
I understand we should change severity of all uncaught exceptions to `fatal`/`critical`.

[2016-04-07 13:54] tomaszdurka commented on #243
@vogdb please pick this up in free moment.

[2016-04-07 14:13] vogdb commented on #239
Yep. It's done in #232

[2016-04-08 08:52] #239 closed

[2016-04-08 08:53] tomaszdurka commented on #231
Closable?

[2016-04-08 08:54] vogdb commented on #231
I guess we can but this error can easily repeat again. This mapping conflict is a feature more. Lets close.

[2016-04-08 08:54] #231 closed

[2016-04-08 10:21] vogdb opened #245 "Release 0.7.1"

[2016-04-08 10:21] tomaszdurka commented on #245
lgtm

[2016-04-08 11:08] njam opened #246 "Change logging schema to comply with cargomedia standard"
See https://github.com/cargomedia/guides/tree/master/logging

[2016-04-08 11:23] tomaszdurka opened #247 "Adjust Error toJSON according to Logging guide"
https://github.com/cargomedia/guides/tree/master/logging

[2016-04-12 21:33] njam opened #248 "2016-04-12 - connection to Janus closed"
Incident:
[code]

@tomaszdurka @vogdb can you investigate (with Loggly)?

[2016-04-14 08:30] zazabe opened #249 "How service failures should be managed?"
What we should do if janus is down for example, like here: https://github.com/cargomedia/janus-gateway-rtpbroadcast/issues/83?

Currently, the client will not receive any response when the connection between cm-janus and janus has failed with a `ECONNREFUSED` error, so the client will keep trying to establish a connection with cm-janus...

Some thoughts:
- after some retries, cm-janus could notify

[2016-04-14 08:36] njam commented on #249
I understand currently cm-janus keeps the "downstream" connection (to the browser) open, and retries the "upstream" connection. But then when the upstream connection establishes, the downstream connection will *also* be disconnected right?
Because disconnecting clears all state it might be important that we disconnect both ends?

[2016-04-14 09:43] zazabe commented on #249
not sure to understand:

But currently, the client connection is closed by the `main.video` unit, not by cm-janus, when there's no cm-janus response after 5s, which is maybe acceptable, it will just produce lot of WS connection...

Anyhow, my question was more about what should happen for the client?

I don't think cm-janus should retry to connect with janus infinitely, it could be better to rejec

[2016-04-14 10:04] vogdb commented on #249
Sorry to step in here but I must say that on cm-janus side now there are no retries to reconnect. If cm-janus can't open "upstream", it will close "downstream". If error happens on "upstream", it might close "downstream" or might just send an error to "downstream". Depends on the type of error. Connection failures are errors that close "downstream". For now "downstream" is always closed silently.

[2016-04-14 11:40] njam commented on #249
That sounds reasonable and how it should be. But Michel described something different in the description?

[2016-04-14 11:41] vogdb commented on #249
Yes yes. Just wanted to state how it works now :)

[2016-04-14 12:20] njam commented on #248
@tomaszdurka @vogdb any insights?

[2016-04-14 17:28] vogdb commented on #249
Agree. Lets make 3 retries. If they didn't succeed, close "downstream".

I would go here in another direction. cm-janus should have a timeout for all "upstream" requests. If timeout exceeds, we do 3 retries. If they fail, we close both connections. That makes client to have timeout that equals 4 cm-janus timeouts.

[2016-04-17 13:54] njam opened #250 "Fatal error: cm-api error: Unexpected response format"
[code]

[2016-04-18 08:57] tomaszdurka commented on #250
Was there a context? (response)

[2016-04-18 08:58] tomaszdurka commented on #250
@vogdb currently we log only the exception, there is no info on response. Shouldn't we log that?

[code]

[2016-04-18 09:38] vogdb commented on #250
We are doing this already. Just in another log entry
[code]

[2016-04-18 09:44] vogdb commented on #250
hm, but somehow it's not logged by the call that should log it :)

[code]

[2016-04-18 10:34] tomaszdurka commented on #250
Ok, so we throw error which has no context. That's something I noticed lately and we should change it.

Errors should contain (optional) context. @vogdb wdyt?

[2016-04-18 10:37] tomaszdurka opened #251 "Release 0.8.0"
- Adjust Error toJSON according to Logging guide (#247, @tomaszdurka)
- Change logging schema to comply with cargomedia standard (#246, @vogdb)

[2016-04-18 10:40] njam commented on #250
I rather meant that this error should be catched and handled? Currently it's going to the global error handler and triggering a FATAL error.

[2016-04-18 10:42] vogdb commented on #250
Well, they have it. In this case it wasn't recorded by some reason. Or you want to create an additional property on `error` like `error.context` ?

[2016-04-18 10:44] tomaszdurka commented on #250
Hmm as I understood the error we have occurs only when we have some really invalid json, and most probably should close the whole connection - catch on top?
https://github.com/cargomedia/cm-janus/blob/master/lib/cm-api-client.js#L60

We should never have this unexpected response. I understood it occurs only when we have invalid json on other side.

[2016-04-18 10:56] njam commented on #250
You mean we receive an invalid response from an external API? That's something we should expect, catch and log.
Imagine an external API is down, the HTTP server responds with some unexpected output (html instead of json?). This should definitely not be catched by the global exception handler?

Didn't we discuss this already in https://github.com/cargomedia/cm-janus/pull/226#issuecomment-204975590

[2016-04-18 11:31] njam opened #252 "Clean up exception log levels"
- **warning**: Problems that can appear from time to time, like communication with external services. Their overall volume should be observed to detect anomalies.
- **error**: Problems that should not usually happen. They should be investigated case-by-case.
- **fatal**: Things that should never happen, but for some reason did, and were catched with a global exception handler. These are bugs and s

[2016-04-18 11:31] njam commented on #250
As discussed with Tomasz:

Let's log an (expected) "error" entries if there's anything wrong with the API request or response:
- JSON response was unexpected (`error` field, invalid json, …)
- HTTP response was unexpected (status not 200)
- Sub-HTTP problems (timeouts, DNS issues etc)

Let's also make sure all the cm-api errors/warnings have relevant information that allows us to see what happened

[2016-04-18 11:35] vogdb commented on #250
Create a test for 503 error of cm-api

[2016-04-18 13:38] vogdb opened #253 "Fix promise chain of cmApiClient.removeStream"

[2016-04-18 13:41] vogdb commented on #250
The cause of uncaught rejection is fixed in #253

[2016-04-19 11:52] vogdb opened #254 "Release 0.8.1"

[2016-04-26 19:42] cargomedia-bot opened #255 "Loggly Alert: cm-janus fatal error"
https://cargomedia.loggly.com/search/?terms=tag%3Acm-janus+AND+json.level%3Afatal&source_group=&savedsearchid=206843&from=2016-04-26T19%3A37%3A28Z&until=2016-04-26T19%3A42%3A28Z

[code]

[2016-04-27 06:10] vogdb commented on #255
This bug is not an easy target. We don't use `zlib` directly but multiple dependencies do. It might take a big pile of time to find the cause dependency.

[2016-04-27 06:34] njam commented on #255
Looks like this: https://github.com/websockets/ws/issues/628

There's a fix in ws 1.0 (https://github.com/websockets/ws/pull/632). Can we upgrade to see if it helps? There's even 1.1.0 now.

[2016-04-27 06:36] vogdb commented on #255
ok, I should have googled this error, I see :)
thank you

[2016-04-27 13:54] cargomedia-bot opened #256 "Loggly Alert: cm-janus fatal error"
https://cargomedia.loggly.com/search/?terms=tag%3Acm-janus+AND+json.level%3Afatal&source_group=&savedsearchid=206843&from=2016-04-27T13%3A49%3A38Z&until=2016-04-27T13%3A54%3A38Z

[code]

[2016-04-27 13:55] vogdb commented on #256
`ws` again :D

[2016-04-27 14:59] tomaszdurka commented on #256
Shall we expect this error catch/ignore?

[2016-04-27 15:13] njam commented on #256
ah definitely!

[2016-04-27 15:17] vogdb commented on #256
It seems like an expected error. Should we detect it in `handleError` and ignore it?

[2016-04-28 08:32] njam commented on #256
@tomaszdurka ?

[2016-04-29 09:14] tomaszdurka commented on #256
Well, yes. This is only place above ws we can/should do it.

[2016-04-30 14:52] cargomedia-bot opened #257 "Loggly Alert: cm-janus fatal error"
https://cargomedia.loggly.com/search/?terms=tag%3Acm-janus+AND+json.level%3Afatal&source_group=&savedsearchid=206843&from=2016-04-30T14%3A47%3A32Z&until=2016-04-30T14%3A52%3A32Z

[code]

[2016-05-02 08:13] vogdb opened #258 "Release 0.8.3"

[2016-05-02 09:33] njam commented on #257
@vogdb can you check?

[2016-05-02 09:47] vogdb commented on #257
Well. We haven't released yet the patch to this :(

[2016-05-03 07:53] njam commented on #257
Is the fix released now - if yes, then we can close this?
Could you link to the fix?

[2016-05-03 08:14] vogdb commented on #257
Thank you for the reminder. The patch was released and merged and logs show that it didn't help.

[2016-05-04 08:28] njam opened #259 "Loggly: MappingConflict"
https://cargomedia.loggly.com/search/?terms=LogglyNotifications.type%3AMappingConflict&from=-1d&until=now&source_group=&savedsearchid=208919&newtab=true&tabname=loggly%20MappingConflicts&savedsearchid=208919&isfav=False&searchorder=desc

@vogdb can you investigate?
cc @tomaszdurka

See also https://github.com/cargomedia/cm-janus/issues/231

[2016-05-04 10:30] tomaszdurka commented on #248
@vogdb did you make some research on this? I did not :/

[2016-05-04 10:32] vogdb commented on #248
Unfortunately not. I don't know where to start here.

[2016-05-04 12:43] njam commented on #248
The idea was to check the logs in Loggly, which should have all the relevant information.
But our data retention with Loggly is 14 days, so that data is not available anymore.

Let's try to be faster next time.

[2016-05-04 12:43] #248 closed

[2016-05-04 12:44] vogdb commented on #248
I checked logs of cm-janus by that time. They were absolutely normal. That is why I couldn't gave anything to think of.

[2016-05-04 12:59] njam commented on #248
Hmmm strange, okidoki. Let's see if it happens again.

[2016-05-04 16:00] vogdb commented on #257
I wish I knew how to reproduce this...

[2016-05-04 19:20] cargomedia-bot opened #260 "Loggly Alert: cm-janus fatal"
https://cargomedia.loggly.com/search/?terms=tag%3Acm-janus+AND+json.level%3Afatal&source_group=&savedsearchid=206843&from=2016-05-04T19%3A14%3A54Z&until=2016-05-04T19%3A19%3A54Z

[code]

[2016-05-05 08:01] vogdb commented on #259
It happens when we log in cm-api-client:
[code]
The last **success** log entry was more than 2 weeks ago
[code]
Since then we have Mapping conflicts on this entry. I guess it happens cause the logging context is very complicated here but I am not sure. I will write to the support about this and show them the problem entries. Hope they will clarify.

[2016-05-05 08:35] vogdb opened #261 "Add codecov conf"
Recently Codecov changed its configuration approach. We need to add its conf file.

[2016-05-05 09:36] njam commented on #259
I asked them about this problem before.
The told me we can find out the specific field that causes the mapping conflict by querying the "events" API endpoint (see https://github.com/cargomedia/cm-janus/issues/231#issuecomment-206181201).
Could you try that?

[2016-05-05 11:15] vogdb commented on #259
Well. I queried them but I don't see the field that changed its format. I have doubts that context in this log entry is so deep and complicated that it produces conflicts.

[2016-05-06 06:06] vogdb commented on #260
Even after #257 this error still happens :scream:

[2016-05-09 12:21] tomaszdurka opened #262 "Change http server request logging level to info"
Change `debug` here https://github.com/cargomedia/cm-janus/blob/ceef69f6ff34e1db4077567a29e3acabd1676fe9/lib/http-server.js#L47 to `info`.

[2016-05-11 07:02] njam commented on #260
@vogdb @tomaszdurka can you look into this?

[2016-05-11 07:02] njam commented on #259
@vogdb any news from Loggly? What should we do here?

[2016-05-11 07:04] vogdb commented on #259
Well, no news from Loggly. They wrote to me at 5 of May:

and silence after that. I will ask them again.

[2016-05-12 07:05] vogdb commented on #260
Honestly I don't know what to do with it. The stacktrace of problem is not that deep. We have `catch` on every `send` call of ws.

[2016-05-12 07:58] njam commented on #260
Is it possible to reproduce this, by throwing explicitly in on of these places (e.g. `node_modules/ws/lib/Sender.js:232`)?

@tomaszdurka any ideas?

[2016-05-12 08:58] vogdb commented on #260
Yep. I think we should try to throw at `node_modules/ws/lib/Sender.js:232` and see what will happen.

[2016-05-12 10:55] tomaszdurka commented on #249
IMHO First of all we should make sure services do not know anything about other services they are not directly related with.

- `client` should only communicate with `cm-janus`
- `janus` should only communicate with `cm-janus`
- `cm-janus` acts as proxy between `client` and `janus`

Especially last point should determine we should not have reconnect mechanisms in `cm-janus`.

#### `client <-> cm-j

[2016-05-12 15:34] vogdb commented on #260
Finally it is reproduce. The directly thrown error there triggers `unexpected rejection`.

[2016-05-16 08:51] vogdb commented on #259
This time Support is not so fast and furious. Currently there is a football in emails. Waiting.

[2016-05-23 10:03] tomaszdurka commented on #249
@vogdb as agreed please:
- refuse from-client connection when to-janus connection is refused
- close from-client connection when to-janus connection timeouts? Or let's have no timeout? (only on client)
- no retries in cm-janus

[2016-05-23 10:06] tomaszdurka commented on #249
@zazabe
Is it ok if we simply close client->cm-janus connection when we have problems connecting cm-janus->janus? I understand we will close it and client-side will reconnect (rebuild whole wiring). Right?

[2016-05-23 10:17] vogdb commented on #249
- refuse from-client connection when to-janus connection is refused
- close from-client connection when to-janus connection timeouts? Or let's have no timeout? (only on client)
- no retries in cm-janus

Currently cm-janus works like that :)

[2016-05-23 22:34] tomaszdurka commented on #249
I guess it's not so great/simple as we described it.

Instead of:
- refuse from-client connection when to-janus connection is refused
It's more like:
- client connects to cm-janus, establishes conenction
- start to send events to cm-janus (which are put on hold in cm-janus)
- cm-janus tries to connect to janus, it fails, (connection refused)
- then client->cm-janus connection is closed

@zazabe is

[2016-05-24 07:10] zazabe commented on #249
About the last step "then client->cm-janus connection is closed", I would rather send a specific error message to the client, like "service not available", so we can redirect the user to a maintenance page for example.
On the client side, we could do few retries before the redirect, but at least we know what is going on.

[2016-05-25 08:24] vogdb commented on #249
Currently we transmit all messages from janus to client. So, if cm-janus receives an error `Connection closed` then it transmits it to client. If cm-janus just receives a `close` event from janus, it just closes connection to client. Do you want to send an error in the latter case? @zazabe

[2016-05-25 08:25] vogdb commented on #249
Everything is possible! @tomaszdurka

[2016-05-25 08:25] vogdb commented on #249
We just need to rewrite/extend some third-party libraries :)

[2016-05-25 11:17] zazabe commented on #249
@vogdb I don't think that closing the connection is the same than the `ECONNREFUSED` received by cm-janus when he intended to connect to janus.
I mean, cm-janus knows that janus is down, but the browser will just have his connection closed without any additional info...

[2016-05-25 13:45] vogdb commented on #249
Agree. Currently we log it as an error on cm-janus and just closing client connection. Will redo the logic according to our needs. What else to do you think?

[2016-05-26 07:43] vogdb commented on #259
Well, their final response is vague. I better try to experiment with different log messages and see how it behaves.

[2016-05-26 08:02] tomaszdurka commented on #259
Wow so this response took them so much time. I think this is generic answer they've sent us first time.

[2016-05-26 08:07] tomaszdurka commented on #249
Well probably ideal solution would be to have some event on 'connecting' in cm-janus and hold connection opening with client until janus connection is established. I don't think that's easy to do.

Given that let's do:
- trigger the same event (within client) when either
  - client-connection is refused
  - janus-connection is refused which results in error event and close event on client-connecti

[2016-05-26 08:13] vogdb commented on #259
Well. I had a long discussion with them:
Me (Their support reception broke all my nice markdown formatting):

log.warning('some error', {context: context});
Can it happen cause I have another log entry that logs near this problem entry the same `context` but with different message and level? It looks similar to this:
log.debug('for debugging', {context: context});
...
log.warning('some error', {co

[2016-05-26 10:41] vogdb commented on #249
Please elaborate on

  - client-connection is refused

Sending additional data on `close` event or pass an error from janus ws connection to client ws connection is a good thing. Need to research here. Don't see a direct methods for that in `ws` library we use.

[2016-05-26 11:13] zazabe opened #263 ""list" request doesn't work"
The websocket connection is closed by cm janus when a `list` request is received:

cm-janus log
[code]

_note: it works with a direct connection to janus, see https://github.com/cargomedia/janus-gateway-rtpbroadcast/issues/93_

[2016-05-26 11:48] njam commented on #263
@vogdb wanna look into this?

[2016-05-26 13:43] vogdb commented on #263
yes!

[2016-05-26 14:10] vogdb commented on #263
hm, we forbid this request for some reason >_< https://github.com/cargomedia/cm-janus/blob/master/lib/janus/plugin/video.js#L49 @tomaszdurka do you remember why?

[2016-05-26 14:10] vogdb commented on #263
Shall I remove it from forbidden request?

[2016-05-27 15:13] vogdb commented on #249
Well. It is true that a full proxy (when client connection receives the same data/event/error as janus connection) seems to be impossible to have with `ws` library. Lets take for example `ECONNREFUSED` error (which is instance of `Error`). It is generated by the code that requests a connection. So it would be impossible for us to send this error from cm-janus to client cause this error happens onl

[2016-05-30 12:03] njam opened #264 "Include "retryCount" in job processing error"
For alerting it would be nice if we could include the number of retries a job was tried in the log entry "Failed job process".

@vogdb wdyt, can it be easily added?

cc @kris-lab @tomaszdurka

[2016-05-30 12:17] njam commented on #263
@zazabe what do we need "list" for?

[2016-05-30 12:27] zazabe commented on #263
It's not really needed, just useful to make the [`streamingtest.html` page](https://github.com/zazabe/janus-gateway/blob/streaming-inputs/html/streamingtest.html) working with cm-janus directly

[2016-05-30 12:33] njam commented on #263
I think we didn't want to expose it, because it's kind of "secret" information the user doesn't need to know about. On the other hand there's ACL when joining a room anyway, so we could open it up.

So IMO we can open it up. @kris-lab @zazabe can you confirm?

[2016-05-30 12:53] zazabe commented on #263
Agree, ACL should prevent people from connecting to the stream if they are not allowed

[2016-05-30 12:57] kris-lab commented on #263
`mountpoint-info` event contains exactly the same info like `list` end-point. If we push this information by ourself to all authorised users, I guess we can allow to request for it as well :)

[2016-05-30 13:05] zazabe commented on #263
But `list` with no parameter will list all the running shows, isn't it?

[2016-05-30 13:07] kris-lab commented on #263
Hmm yes, but in theory you can join every shows and receive the same info? More problematic but still easy to achieve. agree?

[2016-05-30 15:14] njam commented on #259
Currently the error appears for this entry:
[code]
With:

I tried to figure out which field is causing the conflict using their [Retrieve Data API](https://www.loggly.com/docs/api-retrieving-data/), but couldn't find anything relevant.

I think I found the issue though by looking at the JSON for a very long time ;)
The `exception` field is supposed to be an object with sub keys, see [schema](https

[2016-06-15 08:05] njam opened #265 "Move "retryCount" away from root level"
Added in: https://github.com/cargomedia/cm-janus/pull/264

I would suggest to move this field away from the root level of log entries. Compare [guidelines](https://github.com/cargomedia/guides/tree/master/logging).

I'm thinking either `jobData.retryCount` or `exception.retryCount`. I would go with the second.

@tomaszdurka @vogdb wdyt?

[2016-06-15 09:49] vogdb opened #267 "Release 0.8.8"

[2016-06-15 11:22] njam opened #268 "Replace job failure's "retryCount" with "failedRepeatedly""
Which would be true or false.
So we can search for it in Loggly.

cc @tomaszdurka

[2016-06-17 07:30] vogdb opened #269 "Remove codecov comment"

[2016-06-21 15:57] njam opened #270 "Plugin.removeStream() cannot forcefully remove stream"
Trying to remove a "corrupt" stream with the `/stopStream` API.
The following code gets executed:
[code]

The API responds with "Stream stop failed. Stream was removed by force.".
But the stream seems to not be removed. I.e. it is still returned on the `/status` API.

@vogdb @tomaszdurka can you investigate?

[2016-06-21 15:59] vogdb commented on #270
ok, will look into

[2016-06-22 11:31] vogdb commented on #270
Can't reproduce. Please give a link to logs if possible.

[2016-06-22 11:48] vogdb opened #271 "Reject with errors instead of throwing in methods that return Promises"

[2016-06-22 18:17] vogdb opened #272 "drop deep-extend dependency"
It does not extend Error objects

[2016-06-23 07:33] njam commented on #270
Tomasz told me you looked at this together, and showed you the logs. He told me you have an idea what could have happened, and will implement a workaround.

[2016-06-23 07:37] vogdb commented on #270
ehhm. I don't have an idea actually :) I just found two minor problems 271 and 272 while was looking into this.

[2016-06-23 15:07] kris-lab commented on #249
@tomaszdurka how to proceed here?

[2016-06-27 10:22] tomaszdurka opened #273 "Introduce backoff for failing jobs"

[2016-06-28 11:45] tomaszdurka commented on #249
I will pair on this with @vogdb when finished SK isses.

[2016-06-29 13:07] cargomedia-bot opened #274 "Loggly Alert: cm-janus error failedRepeatedly"
https://cargomedia.loggly.com/search/?terms=tag%3Acm-janus+AND+json.level%3Aerror+AND+json.exception.failedRepeatedly%3Atrue&source_group=&savedsearchid=223363&from=2016-06-29T13%3A01%3A17Z&until=2016-06-29T13%3A06%3A17Z

[code]

[2016-06-29 14:12] njam commented on #274
@tomaszdurka can you check it?

[2016-06-29 15:18] kris-lab commented on #274
Looks exactly the same as:
- https://github.com/cargomedia/puppet-cargomedia/issues/1203
- https://github.com/cargomedia/janus-gateway-rtpbroadcast/pull/102
- https://github.com/cargomedia/puppet-cargomedia/issues/1115

[2016-06-29 15:20] kris-lab commented on #274
Should be possibly solved by https://github.com/cargomedia/janus-gateway-rtpbroadcast/pull/102

[2016-06-29 15:20] njam commented on #274
Isn't this a video?
Also there is: "/usr/bin/mjr2webm: line 50: 26633 Segmentation fault"

[2016-06-29 15:20] njam commented on #274
As I wrote Tomasz, I think it might be a result from my tests on b2 previously.

[2016-06-29 15:39] tomaszdurka commented on #274
Ok so it fails as you sent some invalid data (no keyframes) via b2? But why it results in segfault? You guys had this before?

[2016-06-29 16:26] njam commented on #274
Haven't seen it.

Can you figure out how big the file is, and what show it comes from?
I can see 1 archive missing of a real show here: https://admin.fuckbook.com/stream-channel-archive-list?type=269

[2016-06-29 16:33] tomaszdurka commented on #274
I will check if this is connected with Reto's test-stream or real one.

[2016-06-30 10:50] tomaszdurka commented on #274
[code]

[code]

[2016-06-30 13:47] njam commented on #274
![screen shot 2016-06-30 at 15 46 36](https://cloud.githubusercontent.com/assets/360800/16490423/da6f641a-3ed9-11e6-9b0c-982ea6dc29c6.png)

[code]

It's debug, let's ignore it for now.

Please remove the job file(s) and restart cm-janus during a break.

[2016-06-30 15:46] zazabe opened #275 "Remove all "subscribe" streams when a rtpbroadcast "publish" stream"
Goal: make sure that all "subscribes" are removed against CM's API *before* sending the "unpublish" call. This way we can avoid streamchannels with only subscribes that appear briefly after an unsubscribe.

Would it make sense to send "unsubscribe" for all subscribers in `PluginStreaming.removeStream()`, if the publish stream is removed?
We could also remove the whole plugin then…

Note: the plugi

[2016-07-01 08:13] vogdb commented on #275
We differ between `publish` and `subscribe` but we don't do it with `unpublish` and `unsubscribe`. We just have `removeStream`. We need somehow store info about the stream whether it's publish or subscribe. Then we can detach the whole plugin when we remove a publish stream.

[2016-07-01 08:16] njam commented on #275
That sounds very reasonable.
Let's wait for Tomasz' confirmation.

[2016-07-01 08:19] vogdb commented on #275
it ~~can take years~~ shouldn't take long.

[2016-07-01 08:54] tomaszdurka commented on #274
Job removed.

[2016-07-01 09:12] tomaszdurka commented on #275
@vogdb :)

Would be nice to not put the publish/subscribe info into some generic bag data in Stream and only use it for Video plugin. As pub/sub concept doesn't really fit into Audio plugin.

[2016-07-01 09:20] tomaszdurka commented on #275
@vogdb wanna take over?

[2016-07-01 09:21] vogdb commented on #275
yes yes

[2016-07-01 09:57] njam commented on #274
@tomaszdurka closeable?

[2016-07-01 10:31] vogdb commented on #275
@zazabe how are subscribe and publish streams are related? Can I get all subscribe streams id by an id of publish stream?

[2016-07-01 10:32] vogdb commented on #275
ah, I see. Publish and subscribe streams share the same id. Am I right?

[2016-07-01 11:05] vogdb commented on #275
no, I am not. They share the same channel!

[2016-07-01 11:57] #274 closed

[2016-07-01 12:02] tomaszdurka commented on #275
Currently Channel is created for each of the Stream. It's just a data bag, for easier access to channel-related properties.

You might want to iterate over `streams` and find those with the same channel. I recall we had mechanism like that once :)

[2016-07-01 13:46] njam commented on #275
There is `Streams.addPublish()` - I guess we need to store there that this is a publish stream?

[2016-07-02 12:35] njam opened #276 "CM RPC API: remove site id"
After https://github.com/cargomedia/cm/pull/2213 the site ID is not anymore part of the RPC endpoint.
Can you remove it from the docu and configuration?

Old:
[code]

New:
[code]

[2016-07-05 10:20] tomaszdurka opened #277 "Adjust cm rpc calls"

[2016-07-12 09:51] vogdb opened #278 "Replace error with log and normal response when stream is removed by force"

[2016-07-12 09:55] vogdb opened #279 "Replace error with normal response when stream is not found"

[2016-07-12 09:56] tomaszdurka commented on #270
After forced-removal:
- verify plugin's stream was removed
- verify stream was removed from streams
- otherwise log fatal error for debugging

@vogdb can you implement this in separate ticket?

[2016-07-12 11:09] vogdb commented on #279
will be done in #278

[2016-07-12 11:09] #279 closed

[2016-07-13 15:32] njam commented on #273
Could you do this soon? Maybe Aleksei can help?

We're reaching capacity at Loggly again.
<img width="1091" alt="screen shot 2016-07-13 at 17 31 38" src="https://cloud.githubusercontent.com/assets/360800/16809211/b7354050-491f-11e6-8545-328c3dbfb9ee.png">

[2016-07-14 06:28] vogdb commented on #273
I can always help!

[2016-07-14 09:17] tomaszdurka commented on #273
As discussed this should add delay to jobs and double that delay every time (with maximum of 1 minute).

[2016-07-14 09:37] vogdb commented on #273
Well. It is already 60secs delay:
[code]

[code]

[2016-07-14 09:46] tomaszdurka commented on #273
Seems delay doesn't work as expected. See mutliple jobs with the same job id logged at the same time:
![image](https://cloud.githubusercontent.com/assets/113303/16835350/9e056d96-49b8-11e6-8a1c-f808ce7d2764.png)

[2016-07-14 10:19] tomaszdurka commented on #273
`retryDelay` is already high-60 seconds by default and introducing back-off would complicate logic too much.
Instead (as discussed with @vogdb) we decided to add configuration option `retryDelay` for job processor.

Might seem that starting with delay of 5 minutes is a bit harsh, but we actually don't have cases where job fails and then succeeds, but currently only cases where it fails forever. St

[2016-07-14 10:27] tomaszdurka opened #280 "AbstractJob context.janus is overwritten by child classes"
![image](https://cloud.githubusercontent.com/assets/113303/16836397/a620cbc4-49bd-11e6-9aaf-a018e8bb93ee.png)

Seems that our `var deepExtend = require('util')._extend;` doesn't work as expected.
https://github.com/cargomedia/cm-janus/blob/master/lib/context.js#L2

Did experiment:
[code]

Maybe let's go back to `deepExtend` after all?

[2016-07-14 12:08] vogdb commented on #280
We can revert to deepExtend as soon as the problem with Error object is merged unclechu/node-deep-extend#26.

[2016-07-14 12:35] tomaszdurka commented on #280
Ok. Problem is that currently our deepExtend doesn't work as expected. Please do as you wish, but let's resolve it somehow :)

[2016-07-14 12:37] vogdb commented on #280
I know. Seems that node-deep-extend is somehow abandoned by its author. If he does not reply to me today, I will create my own deep-extend repo with blackjack and ...

[2016-07-15 11:18] vogdb opened #281 "Fix url of deep-extend dep"

[2016-07-15 11:49] vogdb opened #282 "Return back usual deep-extend dep"

[2016-07-19 10:45] vogdb opened #283 "Put a modified deep-extend as a source file"

[2016-07-19 11:31] vogdb opened #284 "Rewrite deep-extend entirely for our needs."

[2016-08-01 14:29] vogdb opened #285 "Use International System of Units for config values"

[2016-08-09 12:25] kris-lab commented on #270
@tomaszdurka @vogdb what is the status here?

[2016-08-09 12:35] kris-lab commented on #249
@tomaszdurka what is the status?

[2016-08-09 12:39] vogdb commented on #270
It should not happen anymore

[2016-08-09 12:58] kris-lab commented on #270
Is it closable then?

[2016-08-09 13:15] vogdb commented on #270
If @tomaszdurka does not have any objections

[2016-08-09 13:23] tomaszdurka opened #286 "Do not send stdout/stderr on failedRepeatedly exceptions"

[2016-08-11 08:38] tomaszdurka commented on #270
Let's close it... Btw one-time problem we tried to *solve* with this never happened again.

[2016-08-11 08:38] #270 closed

[2016-08-11 09:12] njam opened #287 "Adjust command failure logging"
As discussed with Tomasz:
- Log all incidents as errors
- Add `failedRepeatedly` at/after 10th incident
- Remove command output at/after 20th incident

[2016-08-15 09:12] kris-lab commented on #249
@tomaszdurka any update, thx

[2016-08-15 09:14] vogdb commented on #249
you need to write @tomaszdurka at least 3 times in the issue for his review. Now it should be fine.

[2016-08-15 09:15] tomaszdurka commented on #249
:) it's not about the review this time! no update yet @kris-lab
is there snooze option for github? :)

[2016-08-19 13:12] cargomedia-bot opened #288 "Loggly Alert: cm-janus fatal"
https://cargomedia.loggly.com/search/?terms=tag%3Acm-janus+AND+json.level%3Afatal&source_group=&savedsearchid=206843&from=2016-08-19T13%3A06%3A19Z&until=2016-08-19T13%3A11%3A19Z

[code]

[2016-08-19 15:24] njam commented on #288
@tomaszdurka @vogdb can you investigate?
I guess we should catch it.

[2016-08-22 09:17] vogdb commented on #288
The problem is that during the second attempt to remove the stream in `HttpServer.stopStream`, we again receive an error from cm. This error is showed as fatal but it's an open question. Should we log it as a fatal one? May be lower the level here to `error`?

[2016-08-22 09:42] kris-lab commented on #249
👍

[2016-08-22 12:11] tomaszdurka commented on #288
So this is the returning error we hoped was the one-timer @vogdb ?

[2016-08-22 12:13] tomaszdurka commented on #288
There were actually 2 entries:
https://cargomedia.loggly.com/search/?terms=tag%3Acm-janus%20AND%20json.level%3Afatal&from=-1d&until=now&source_group=&savedsearchid=206843&newtab=true&tabname=cm-janus%20fatal&savedsearchid=206843&isfav=False&searchorder=desc#terms=tag%3Acm-janus%20AND%20json.level%3Afatal&from=2016-08-17T12%3A12%3A45.681Z&until=2016-08-22T12%3A12%3A45.681Z&source_group=

[2016-08-22 12:17] vogdb commented on #288
Well, it's hard to answer about one-timing. I would not call this behaviour unexpected and fatal. We had an error when we tried to stop the stream and we had an error again when we tried to retry the stop. I would suggest to not log such errors as fatal. What do you think?

[2016-08-23 12:51] tomaszdurka commented on #288
As discussed with @vogdb
- even though the cm tcp call is returning success (`200`) response, but somehow request-promise is seeing it as `500` and raises Exception.
- catch rejections from `stream.plugin.removeStream()` and log them as `warning`
- we still catch latter part and log as `fatal`

@vogdb please take over

[2016-08-23 15:39] vogdb opened #289 "cm-api-client seeing 200 response as 500 and raises Exception"
Even though the cm tcp call is returning success (200) response, but somehow cm-api-client is seeing it as 500 and raises Exception. Possibly due to request-promise somehow?

[2016-09-06 09:09] njam commented on #289
@vogdb what to do here? cc @tomaszdurka

[2016-09-06 09:32] vogdb commented on #289
Somehow try to reproduce. I couldn't when I tried. Need more time on this.

[2016-09-12 10:45] tomaszdurka commented on #289
@vogdb would you find some time to investigate it?

[2016-09-12 10:49] vogdb commented on #289
I would put it on a low-priority queue. Wdyt?

[2016-10-10 10:28] kris-lab commented on #289
@tomaszdurka wdyt?

[2016-10-17 15:41] njam commented on #289
Closing due to inactivity.
@tomaszdurka @vogdb please reopen if you disagree

[2016-10-17 15:41] #289 closed

[2016-10-17 15:41] njam commented on #249
Closing due to inactivity.
@tomaszdurka @vogdb please reopen if you disagree

[2016-10-17 15:41] #249 closed

[2016-10-17 15:41] njam commented on #284
Closing due to inactivity.
@tomaszdurka @vogdb please reopen if you disagree

[2016-10-17 15:41] #284 closed

[2016-10-17 15:42] njam commented on #187
Closing due to inactivity.
@tomaszdurka @vogdb please reopen if you disagree

[2016-10-17 15:42] #187 closed

[2016-11-23 09:09] vogdb opened #291 "Release 0.8.21"

[2016-11-30 13:40] kris-lab opened #292 "Not detected "job" files when moved to the folder"
Until plugin version `0.0.28` of https://github.com/cargomedia/janus-gateway-rtpbroadcast the JobFile was created within final jobs folder (e.g. `/tmp/jobs`). `cm-janus` was listening for changes and pick-up new coming jobs/files.

Since plugin `0.0.29-beta` the job files are not created directly into final job folder (subscribed by cm-janus), but rather created in temporary job folder (e.g. `/tmp